.buy-widget {
    border-radius: 12px;
    border: 1px solid rgba(136, 150, 151, 0.20);
    background: rgba(136, 150, 151, 0.05);
    padding: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__header {
        border-radius: 4px;
        background: rgba(136, 150, 151, 0.05);
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 32px;

        span {
            font-family: var(--font-handjet);
            font-size: 20px;
            font-style: normal;
            font-weight: 200;
            line-height: normal;

        }
    }
}



.buy-page {
    display: flex;
    flex-direction: column;

}