@import "./swap-meta.scss";
@import "./buy-btn.scss";

.swap-page {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal-info {
    transition: all .2s ease-in-out;
}

.swap-window {
    display: flex;

    gap: 4px;
    max-height: 122px;


    &__wallet {
        position: absolute;
        top: calc(100% + 5px);
        right: -2px;
        z-index: 50;
        width: 250px;


        &::before {
            content: "";
            right: 0;
            bottom: calc(100% - 2px);
            height: 20px;
            width: 172px;
            position: absolute;
        }

        .wallets {
            color: #D9F1E9;
            border-radius: 6px;
        }
    }


    .token-to-buy__token {
        flex: none !important;
        height: 49px;
        padding-right: 8px;

        img {
            background-color: white;
        }

        span {
            font-family: var(--font-handjet);
        }
    }

    &__token {
        display: flex;
        min-width: 180px;
        flex-direction: column;

        gap: 4px;
        padding: 4px;
        border-radius: 8px;
        background: rgba(136, 150, 151, 0.05);


        &__ammount {
            display: flex;
            gap: 4px;

            &__option {
                border-radius: 5px;
                border: 1px solid rgba(136, 150, 151, 0.10);
                background: rgba(217, 241, 233, 0.05);
                display: flex;
                padding: 4px 5px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                flex: 1 0 0;


                color: #D9F1E9;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        &__ammount,
        &__ammount__placeholder {
            height: 100%;

        }

        &__ammount__placeholder,
        &__wallet {
            border-radius: 6px;
            border: 1px solid rgba(136, 150, 151, 0.10);
            background: rgba(217, 241, 233, 0.05);
        }

        &__wallet {
            width: 100%;
            display: flex;
            gap: 4px;
            align-items: center;
            padding: 4px 8px;
            height: 29px;
            cursor: pointer;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            position: relative;

            span {
                color: #D9F1E9;
            }

            &--error {
                border: 1px solid rgba(241, 61, 32, 0.20);

                background: rgba(241, 61, 32, 0.05);
            }

            &__pfp {
                display: flex;
                border-radius: 100px;
                width: 20px;
                height: 20px;
                //  color: #889697;


                //  border: 1px solid #D9F1E9;
            }
        }
    }


    @mixin value-wrapper {
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        background: rgba(136, 150, 151, 0.05);
        padding: 5px 8px;

        display: flex;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__input {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 4px;
        border-radius: 8px;
        background: rgba(136, 150, 151, 0.05);
        width: 100%;

        &__main {
            display: flex;
            cursor: pointer;
            transition: all .2s ease-in-out;


            border-radius: 6px;
            border: 1px solid rgba(136, 150, 151, 0.10);
            background: rgba(15, 14, 27, 0.20);
            padding: 6px 12px;
            align-items: center;
            display: flex;
            height: 48px;

            &:hover {
                border: 1px solid rgba(217, 241, 233, 0.15);
                color: rgba(217, 241, 233, 1);
                background: rgba(217, 241, 233, 0.10);
            }

            &:focus-within {
                border: 1px solid #AEE900;
                background: rgba(174, 233, 0, 0.10);
                color: #AEE900;
            }

            input {

                width: calc(100% - 10px);
                color: #D9F1E9;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

            }
        }


        &__quote {
            display: flex;
            gap: 4px;
            font-family: var(--font-handjet);

            &__value {
                @include value-wrapper()
            }

            &__usd {
                @include value-wrapper();
                flex: 1;
                justify-content: flex-start;

            }
        }



        &__balance {
            display: flex;
            gap: 4px;
            font-family: var(--font-handjet);

            &__mode {
                border-radius: 6px;
                border: 1px solid #889697;
                background: rgba(136, 150, 151, 0.05);
                padding: 5px 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #889697;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-transform: uppercase;
            }


            &__heading,
            &__value {
                @include value-wrapper();

            }

            &__heading {
                flex: 1;
                justify-content: flex-end;

            }

            &__value {
                color: rgba(217, 241, 233, 0.80);
            }
        }
    }


}




.swap-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 12px;
    padding: 8px;
    border: 1px solid rgba(136, 150, 151, 0.20);
    background: rgba(136, 150, 151, 0.05);

    &__switch {

        flex: 1;
        height: 32px;
        min-height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 8px;

        color: #889697;


        border-radius: 8px;
        background: rgba(136, 150, 151, 0.05);
        transition: all .2s ease-in-out;





        &::after {
            content: "";
            position: absolute;
            left: 4px;
            right: 4px;
            top: 4px;
            bottom: 4px;
            border-radius: 5px;
            border: 1px solid rgba(136, 150, 151, 0.10);
            background: rgba(217, 241, 233, 0.05);
            transition: all .2s ease-in-out;
        }


        &:hover {
            background: rgba(217, 241, 233, 0.05);


            color: rgba(217, 241, 233, 0.80);

            &::after {
                border: 1px solid rgba(217, 241, 233, 0.15);
                background: rgba(217, 241, 233, 0.10);
            }
        }


        &:active {
            color: rgba(174, 233, 0, 0.80);
            background: rgba(174, 233, 0, 0.05);

            &::after {
                border: 1px solid rgba(174, 233, 0, 0.10);
                background: rgba(174, 233, 0, 0.10);
            }


        }


        span {
            color: rgba(217, 241, 233, 0.80);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
        }
    }
}









.swap-header {
    border-radius: 12px;
    padding: 12px;
    border: 1px solid rgba(136, 150, 151, 0.20);
    background: rgba(136, 150, 151, 0.05);
    display: flex;
    gap: 8px;

    &__item {
        border: 1px solid rgba(136, 150, 151, 0.10);
        padding: 4px 10px 4px 4px;
        gap: 2px;
        display: flex;
        height: 32px;
        align-items: center;
        border-radius: 4px;
        transition: all .2s ease-in-out;

        &:hover {
            border: 1px solid rgba(217, 241, 233, 0.15);
            color: rgba(217, 241, 233, 1);
            background: rgba(217, 241, 233, 0.10);
        }

        &:active {
            border: 1px solid #AEE900;
            background: rgba(174, 233, 0, 0.10);
            color: #AEE900;
        }

        &--active {
            border-color: #AEE900 !important;
            color: #AEE900 !important;
            background: rgba(174, 233, 0, 0.10) !important;
        }
    }

    &__settings {
        cursor: pointer;
        position: relative;
        border-radius: 4px;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(136, 150, 151, 0.10);
        background: rgba(136, 150, 151, 0.05);
        margin-left: auto;
    }
}


.swap-window__token__wallet,
.token-to-buy__token,
.swap-window__token__ammount__option,
.swap-header__settings {

    transition: all .2s ease-in-out;

    .recipient-window__address__arrow,
    .token-to-buy__token__arrow {
        position: relative;
        transition: transform .2s ease-in-out;
    }


    &:hover {
        border: 1px solid rgba(217, 241, 233, 0.15);
        color: rgba(217, 241, 233, 0.8);
        background: rgba(217, 241, 233, 0.1);

        .recipient-window__address__arrow,
        .token-to-buy__token__arrow {
            transform: translateX(2px);
        }

    }


    &:active {
        color: rgba(174, 233, 0, 0.8);
        border: 1px solid rgba(174, 233, 0, 0.15);
        background: rgba(174, 233, 0, 0.1);

        .recipient-window__address__arrow,
        .token-to-buy__token__arrow {
            transform: translateX(4px);
        }
    }

}


.swap-window__token__ammount__option {
    span {
        transition: all .2s ease-in-out;
    }

    &:active {
        span {
            scale: 1.1;
        }
    }
}


.swap-header__settings--active {
    color: rgba(174, 233, 0, 0.8) !important;
    border: 1px solid rgba(174, 233, 0, 0.15) !important;
    background: rgba(174, 233, 0, 0.1) !important;
}