.swap-window {
    display: flex;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid rgba(136, 150, 151, 0.20);
    background: rgba(136, 150, 151, 0.05);
    gap: 4px;


    .token-to-buy__token {
        flex: none !important;
        height: 49px;
        padding-right: 8px;
    }

    &__token {
        display: flex;
        min-width: 180px;
        flex-direction: column;

        gap: 4px;
        padding: 4px;
        border-radius: 8px;
        background: rgba(136, 150, 151, 0.05);


        &__ammount {
            display: flex;
            gap: 4px;

            &__option {
                border-radius: 5px;
                border: 1px solid rgba(136, 150, 151, 0.10);
                background: rgba(217, 241, 233, 0.05);
                display: flex;
                padding: 4px 5px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                flex: 1 0 0;


                color: #D9F1E9;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        &__ammount,
        &__ammount__placeholder {
            height: 100%;

        }

        &__ammount__placeholder,
        &__wallet {
            border-radius: 6px;
            border: 1px solid rgba(136, 150, 151, 0.10);
            background: rgba(217, 241, 233, 0.05);
        }

        &__wallet {
            width: 100%;
            display: flex;
            gap: 4px;
            align-items: center;
            padding: 4px 8px;
            height: 29px;

            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: #D9F1E9;

            &__pfp {
                display: flex;
                border-radius: 100px;
                border: 1px solid #D9F1E9;
            }
        }
    }


    @mixin value-wrapper {
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        background: rgba(136, 150, 151, 0.05);
        padding: 5px 8px;

        display: flex;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__input {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 4px;
        border-radius: 8px;
        background: rgba(136, 150, 151, 0.05);
        width: 100%;

        &__main {
            display: flex;

            input {

                width: 100%;
                color: #D9F1E9;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

            }
        }


        &__quote {
            display: flex;
            gap: 4px;
            font-family: var(--font-handjet);

            &__value {
                @include value-wrapper()
            }

            &__usd {
                @include value-wrapper();
                flex: 1;
                justify-content: flex-start;

            }
        }

        &__main {
            border-radius: 6px;
            border: 1px solid rgba(136, 150, 151, 0.10);
            background: rgba(15, 14, 27, 0.20);
            padding: 6px 12px;
            align-items: center;
            display: flex;
            height: 48px;
        }

        &__balance {
            display: flex;
            gap: 4px;
            font-family: var(--font-handjet);

            &__mode {
                border-radius: 6px;
                border: 1px solid #889697;
                background: rgba(136, 150, 151, 0.05);
                padding: 5px 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #889697;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-transform: uppercase;
            }


            &__heading,
            &__value {
                @include value-wrapper();

            }

            &__heading {
                flex: 1;
                justify-content: flex-end;

            }

            &__value {
                color: rgba(217, 241, 233, 0.80);
            }
        }
    }


}




.swap-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;

    &__switch {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 24px;
        height: 24px;
        border-radius: 4px;
        border: 1px solid #889697;
        background: #151521;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}









.swap-header {
    border-radius: 12px;
    padding: 12px;
    border: 1px solid rgba(136, 150, 151, 0.20);
    background: rgba(136, 150, 151, 0.05);
    display: flex;
    gap: 8px;

    &__item {
        border: 1px solid rgba(136, 150, 151, 0.10);
        padding: 4px 10px 4px 4px;
        gap: 2px;
        display: flex;
        height: 32px;
        align-items: center;
        border-radius: 4px;

        &--active {
            border-color: #AEE900;
            color: #AEE900;
            background: rgba(174, 233, 0, 0.10);
        }
    }

    &__settings {
        border-radius: 4px;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(136, 150, 151, 0.10);
        background: rgba(136, 150, 151, 0.05);
        margin-left: auto;
    }
}