.region-item {

    &--active {
        background-color: rgba(174, 233, 0, 0.1) !important;
    }

    .pool-item__pool__name__top span,
    .pool-item__pool__name__bottom span {
        overflow: visible;
        white-space: nowrap;
        text-overflow: unset;
        width: auto;
        max-width: none;
    }


    img {
        background-color: white !important;
    }


    .trade-item__kind__block {
        width: fit-content;
        padding: 0;
        background: none;
    }


    &__doc {
        &__icon {
            display: flex;
            justify-content: flex-end;
            padding-right: 24px;
            gap: 2px;
        }
    }
}


.document-item {



    position: relative;

    display: flex;
    cursor: pointer;
    width: 22px;
    height: 22px;
    align-items: center;
    justify-content: center;

    svg {
        transition: all .2s ease-out;
    }


    &--active {
        svg {
            color: #D9F1E9;
        }
    }
}


.document-item-modal {
    border-radius: 8px;
    background: rgba(136, 150, 151, 0.05);
    display: flex;
    flex-direction: column;
    padding: 4px;
    gap: 4px;


    &__wrapper {
        border-radius: 12px;
        border: 1px solid rgba(136, 150, 151, 0.20);
        backdrop-filter: blur(16px);
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 12px;
        position: absolute;
        //width: 200px;
        top: calc(100% + 8px);
        right: 0;
        z-index: 10;
        min-width: 200px;
        overflow: hidden;

        &::before {
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;
            background: rgba(136, 150, 151, 0.05);
            z-index: -1;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 100%;
            width: 100%;
            height: 8px;
        }
    }

    &__header {
        display: flex;
        gap: 30px;
        text-align: center;
        font-family: var(--font-handjet);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        white-space: nowrap;
        border-radius: 6px;
        background: rgba(136, 150, 151, 0.05);
        height: 28px;
        padding: 2px 4px 2px 8px;
        align-items: center;

        svg {
            margin-left: auto;
            color: #AEE900;
        }

        span {
            color: #D9F1E9;
        }
    }

    &__main {
        display: flex;
        border-radius: 6px;
        background: rgba(136, 150, 151, 0.05);
        padding: 4px 8px;
        color: #889697;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }
}

@media (max-width: 600px) {
    .pools-modal__header__txn,
    .pools-modal__header__vol {
        div {
            padding-left: 2px;
            padding-right: 2px;
            white-space: nowrap;
        }

        span {
            font-size: 9px;
        }
    }

    .region-item__doc__icon {
        min-width: 100px;
        flex-wrap: wrap;
    }
}