.mobile-carousel {
    //  background-color: red;
    position: absolute;
    inset: 0;
    z-index: 9999;
    //  overflow: hidden;

    &__container {
        display: flex;
        touch-action: pan-y pinch-zoom;
        //background-color: blue;
        height: 100%;
        //
    }


    .mobile-carousel-item {
        // background-color: red;
        transform: translate3d(0, 0, 0);
        flex: 0 0 100%;
        min-width: 0;
        //   background-color: green;
        height: 100%;
        display: flex;
        // padding-left: var(--slide-spacing);
    }
}

.home-stakeholders {
    display: flex;
    //  height: 700px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    z-index: 0;

    &__container {
        display: flex;
        padding: 0 140px;
        width: 100%;
        justify-content: space-between;
        height: 730px;
        align-items: center;
        margin-top: 80px;

        @include down(md) {
            justify-content: center;
            padding: 0;
            height: auto;
            margin-top: 45px;
        }

    }


    &__text {
        display: flex;
        flex-direction: column;

        max-width: 400px;

        @include down(md) {
            max-width: 362px;
            position: absolute;
            z-index: 100;
            left: 50%;
            transform: translateX(-50%) translateY(-70px);
            width: 100%;
            padding: 0 20px;

            .home-stakeholders__text__badge {
                position: absolute;
                right: 0px;
                bottom: -30px;
            }
        }

        &__badge {
            padding: 0 8px;
            border-radius: 4px;
            background: rgba(0, 235, 176, 0.10);
            height: 19px;
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: color-mix(in srgb, currentColor 10%, transparent);

            width: fit-content;

            font-family: var(--font-funnel-sans);
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: uppercase;
        }

        h3 {
            color: #D9F1E9;
            font-family: var(--font-funnel-display);
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            @include down(md) {
                font-size: 24px;
                text-align: center;
            }

        }

        p {
            color: #889697;
            font-family: var(--font-funnel-sans);
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: 30px;
            margin-bottom: 48px;
            margin-top: 16px;
            height: 90px;

            @include down(md) {
                margin-bottom: 0;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                margin-top: 8px;
            }
        }
    }

    a {
        z-index: 30;
    }

    &__image {
        position: absolute;
        inset: 0;
        //  background-color: red;
        display: flex;
        align-items: center;
        border-radius: 1000px;
        justify-content: center;
        overflow: hidden;

        @include down(md) {
            border-radius: 0;
            transform: translateY(-180px);

            img {
                scale: 0.55;
            }
        }

        // &::before {
        //     content: "";
        //     width: 7px;
        //     top: 0;
        //     bottom: 0;
        //     left: 50%;
        //     transform: translateX(-50%);
        //     position: absolute;
        //     z-index: 1000;
        //     background-color: red;
        // }
    }

    &__circles {
        display: flex;
        position: relative;
        // margin: 0 auto;
        margin-right: 50px;

        @include down(md) {
            margin: 0;
        }

        &::before {
            @include down(md) {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 75%;
                // top: 0;
                right: 0;
                background: linear-gradient(to top,
                        rgba(0, 0, 0, 1) 25%,
                        rgba(0, 0, 0, 0.85) 55%,
                        rgba(0, 0, 0, 0.5) 75%,
                        rgba(0, 0, 0, 0) 100%);
                z-index: 1;
            }
        }

    }
}

.hover-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

    @include down(md) {
        display: none;
    }
}


.stakeholder-badge {
    display: flex;
    padding: 0 8px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.10);
    height: 15px;
    position: absolute;

    color: #FFF;
    text-align: center;
    font-family: var(--font-funnel-sans);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;

    transition: all .2s ease-in-out;
    opacity: 0;
    background-color: color-mix(in srgb, currentColor 10%, transparent);


    @include down(md) {
        display: none;
    }



    &--visible {
        opacity: .5;
    }

    &--active {
        opacity: 1;
    }


    &__relay {
        top: 41.51px;
        right: -1.61px;
    }

    &__moonpay {
        top: 99.51px;
        right: -71.61px;
    }

    &__privy {
        top: 178.51px;
        right: -31.61px;
        transform: translateX(100%);
    }

    &__geckoterminal {
        bottom: 74px;
        right: -96.61px;
        // transform: translateX(100%);
    }

    &__dexscreener {
        bottom: 22px;
        right: -26.61px;
        // transform: translateX(100%);
    }

    &__farcasterin {
        bottom: -13px;
        right: 57.39px;
        transform: translateY(100%);
        //
    }

    &__warpcast {
        bottom: -21px;
        left: 103.49px;
        transform: translateY(100%);
    }

    &__nexus {
        bottom: 12px;
        right: 442px;

    }

    &__sim {
        bottom: 110px;
        left: -8.51px;
        transform: translateX(-100%);
    }

    &__dune {
        bottom: 217px;
        left: -33.51px;
        transform: translateX(-100%);
    }

    &__balancer {
        top: 83.51px;
        right: 508.39px;
    }

    &__uniswap {
        top: 22.51px;
        right: 452.39px;
    }

    &__pancakeswap {
        top: -13.49px;
        left: 53.49px;
        transform: translateY(-100%);
    }

    &__base {
        top: -20.49px;
        right: 146.39px;
        transform: translateY(-100%);
    }
}

.stakeholders-circle {
    path {
        transition: all .2s ease-out;
    }

    // transition: all .2s ease-out;



    position: relative;


    &__featured {

        // green arc
        &__base {
            // green small circle

            position: relative;

            // &::before {
            //     content: "";
            //     width: 100px;
            //     height: 100px;
            //     background-color: red;
            // }
        }
    }

}