.chart-component {
    border-radius: 12px;
    border: 1px solid rgba(136, 150, 151, 0.20);
    background: rgba(136, 150, 151, 0.05);
    display: flex;
    padding: 12px;
    gap: 4px;
    width: 100%;
    flex-direction: column;



    &__buttons {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .chart-button {
            width: 70px;
            padding: 4px 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;
            color: rgba(217, 241, 233, 0.80);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            background-color: transparent;
            border-radius: 5px;
            transition: all .2s ease-in-out;

            span {
                transition: scale .2s ease-in-out;
            }

            .underline {
                z-index: unset;
            }

            &:hover {
                color: rgba(217, 241, 233, 1);
            }

            &:active {
                color: #AEE900;

                span {
                    scale: 1.1
                }

            }

            &--active {
                color: #AEE900 !important;
            }
        }

        &__sort,
        &__type {
            border-radius: 8px;
            border: 1px solid rgba(136, 150, 151, 0.10);
            padding: 4px;
            background: rgba(136, 150, 151, 0.05);
            display: flex;
        }
    }
}





.pools-modal {
    border-radius: 12px;
    border: 1px solid rgba(136, 150, 151, 0.20);
    background: rgba(136, 150, 151, 0.05);
    backdrop-filter: blur(30px);
    width: 1000px;
    height: 500px;
    padding: 12px;

    &__wrapper {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}