.header__wallet__wrapper {

    .modal__header {
        display: none;
    }

    @include down(md) {
        .modal__header {
            display: flex;
        }

        .chain-list {
            min-height: 500px;
        }

        position: fixed !important;
        left: 20px !important;
        width: auto !important;
        right: 20px !important;
        top: calc(100% - 102px - 36px - 16px) !important;
        transform: translateY(-100%) !important;
        //    display: none;
    }
}




.menu-bar {

    .dropdown-routes {
        width: 100%;

        &__active {
            flex: 1
        }
    }


    .divider {
        display: none;
    }

    .header__wallet {
        width: 100%;
    }

    .wallet-header {
        gap: 4px;
    }

    .wallet-header__balance__chain,
    .wallet-header__address__provider {
        width: 32px;
        height: 32px;
    }

    .wallet-header__balance,
    .wallet-header__address {
        flex: 1;
    }

    .wallet-header__balance__number,
    .wallet-header__address__value {
        flex: 1;
        height: 32px;

        @include down(sm) {
            font-size: 14px;
            line-height: normal;
        }
    }

    .dropdown-routes__wrapper {
        left: 0;
        right: 0;
        top: -16px;
        width: auto;
        transform: translateY(-100%);



        &::before {
            top: auto;
            bottom: -20px;
        }

    }


    .dropdown-blog__bot__title {
        color: transparent;
        display: block;
        padding-top: 7px;
    }

    .dropdown-blog__bot__title::before {
        content: "Visit blog";
        display: block;
        color: #889697;



    }

    .dropdown-blog__categories> :last-child {
        display: none;
    }

    .dropdown-blog {
        width: auto !important;
    }

    .menu-item {
        // position: relative;
        height: 32px;
        display: flex;
        flex: 1;

        &__btn {
            border-radius: 6px;
            border: 1px solid rgba(136, 150, 151, 0.10);
            background: rgba(217, 241, 233, 0.05);
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            transition: all .2s ease-in;

            &:active {
                border-color: #AEE900 !important;
                color: #AEE900 !important;
                background: rgba(174, 233, 0, 0.1) !important;
            }

        }

        &--active {
            .menu-item__btn {
                border-color: #AEE900 !important;
                color: #AEE900 !important;
                background: rgba(174, 233, 0, 0.1) !important;
            }
        }

        &--open {
            .menu-item__btn {
                border: 1px solid rgb(217, 241, 233);
                color: rgb(217, 241, 233);
                background: rgba(217, 241, 233, 0.1);
            }
        }
    }

    .wallet-header {
        margin: 0;
        width: 100%;
    }

    .confirmation__buttons__cta {
        width: 100% !important;
        justify-content: center;

    }

    .btn-polygons::before {
        left: 0 !important;
        width: 100% !important
    }

    .confirmation__buttons__cta>.btn-polygons {
        left: 0 !important;
        width: 100% !important
    }

    .buy-btn,
    .btn-polygons,
    .btn-polygons::before {
        height: 32px !important;

        // svg {
        //     height: 32px !important;
        // }
    }


    // .btn-polygons::after {
    //     content: "";
    //     background-color: black;
    //     position: absolute;
    //     inset: 0;
    //     z-index: -1;
    //     left: -10000%;
    // }


    &__navigation {
        display: flex;
        gap: 4px;
    }

    &__logo {
        padding: 6px 0;
        display: flex;
        flex: 1;
        justify-content: center;

        div {
            display: flex;
        }
    }



    gap: 4px;
    position: fixed;
    bottom: 36px;
    left: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;

    display: none;

    @include down(md) {
        display: flex;
    }


    z-index: 10;
    padding: 4px;


    &__wallet {
        display: flex;
    }

    &::after {
        border: 1px solid rgba(136, 150, 151, 0.10);
        background: rgba(136, 150, 151, 0.05);
        backdrop-filter: blur(75px);
        border-radius: 8px 8px 26px 26px;
        content: "";
        inset: 0;
        position: absolute;
        z-index: -1;
    }
}