.home-blog {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 90px;

    @include down(lg) {
        align-items: center;
    }

    &__status {
        width: 264px;
        gap: 4px;
        display: none;

        @include down(lg) {
            display: flex;
        }

        &__item {
            height: 24px;
            display: flex;
            flex: 1;
            align-items: flex-end;
            cursor: pointer;

            .animated-status {
                display: flex;
                height: 3px;
                flex: 1;
                border-radius: 1px;
                background: #333;

                &--animated {
                    height: 3px;
                    border-radius: 1px;
                    background: rgba(217, 241, 233, 0.80);


                }

            }
        }
    }

    &__container {
        display: flex;
        width: 303px;

    }

    &__viewport {
        //  overflow: hidden;
        display: none;
        width: 303px;
        margin-top: 20px;

        @include down(lg) {
            display: block;
        }
    }

    &__section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 228px;
        //  gap: 32px; // adjust spacing between cells
        margin: 0 140px;
        margin-top: 90px;

        border: 1px solid #889697;
        border-bottom: none;
        border-top: none;

        @include down(lg) {
            display: none;
        }
    }
}

.home-blog-post {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    //  justify-content: center;
    gap: 8px;
    padding-top: 24px;

    transition: all .2s ease-in;
    position: relative;


    &__cross {
        position: absolute;
        left: -0.5px;
        bottom: -0.5px;
        transform: translate(-50%, +50%);

        &--top {
            position: absolute;
            right: 0.5px;
            bottom: -0.5px;
            transform: translate(50%, 50%);
        }

        &--bottom {
            position: absolute;
            right: 0.5px;
            top: 0.5px;
            transform: translate(50%, -50%);
        }
    }

    &__index {
        position: absolute;
        left: -0.5px;
        top: +0.5px;
        transform: translate(-50%, -50%);
    }

    &__index,
    &__cross,
    &__cross--top,
    &__cross--bottom {
        width: 40px;
        height: 40px;
        background-color: black;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    &__container {
        padding: 20px;
        display: flex;
        flex-direction: column;
        //  justify-content: center;
        gap: 8px;
        flex: 1;
        padding-top: 24px;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: black;
            z-index: -1;
        }
    }

    &--phone {
        width: 303px;
        height: 240px;
        border: 1px solid #889697;
        border-right: none;
        padding: 0;
        flex: 0 0 303px;
        margin: 25px 0;
        z-index: 2;

        &:last-child {
            border-right: 1px solid #889697;
        }


    }

    &:hover {
        background: rgba(136, 150, 151, 0.1);

        .home-blog-post__header__title,
        .home-blog-post__uri {
            color: #D9F1E9;
        }
    }

    &:active {
        background: rgba(174, 233, 0, 0.05);

        .home-blog-post__header__icon,
        .home-blog-post__header__title,
        .home-blog-post__uri {
            color: #AEE900;
        }
    }

    &__leadline {
        margin-right: 32px;
        color: #D9F1E9;
        font-family: var(--font-funnel-sans);
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        height: 100px;
        /* 166.667% */
    }

    &__uri {
        margin-left: auto;
        color: #889697;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        border: 1px solid rgba(136, 150, 151, 0.10);
        background: rgba(217, 241, 233, 0.05);

        svg {
            transition: all .2s ease-in;
        }
    }

    &__header {
        display: flex;
        gap: 4px;

        &__icon,
        &__title {
            display: flex;
            border-radius: 6px;
            background: rgba(136, 150, 151, 0.16);
            align-items: center;
            height: 28px;

        }

        &__icon {
            justify-content: center;
            width: 28px;
            color: #D9F1E9;


        }

        &__title {
            transition: all .2s ease-in;
            padding: 0 6px;
            color: #889697;
            font-family: var(--font-funnel-display);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &--1,
    &--4,
    &--7 {
        border-right: 1px solid #889697;

        @include down(lg) {
            border-right: none
        }
    }

    &--3,
    &--6,
    &--9 {
        border-left: 1px solid #889697;
    }

    // 
}

// 480

//204

// 228