.main:has(.contacts-page) {
    min-height: calc(100dvh - 60px);
    padding-top: 120px;
    padding-bottom: 20px;

    @include down(md) {
        min-height: initial;
        padding-top: 60px;
        padding-bottom: 0;
    }
}

.contacts-page {
    display: flex;
    position: relative;
    width: 640px;
    height: 640px;

    @include down(md) {
        width: 100%;
        height: auto;

        margin: 0 30px;
    }

    &__artwork {
        position: relative;
        overflow: hidden;
        width: 640px;
        height: 640px;
        // background: rgba(255, 255, 255, 0.05);
        display: flex;
        padding: 67px;
        transform: translateX(-100px);

        @include down(md) {
            position: absolute;
            padding: 0;
            border-radius: 36px;
            width: auto;
            height: auto;
            inset: 0;
            transform: none;
        }
    }

    &__form {
        right: -100px;
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        //  transform: translateX(100px);

        @include down(md) {
            right: initial;
            position: relative;
            width: 100%;
            padding: 170px 16px 16px 16px;
            transform: none;
            top: auto;
        }
    }
}

// .grecaptcha-badge {
//     position: fixed;
//     bottom: 80px;


//     @include down(md) {
//         bottom: 154px;
//     }
// }