.vizor-loader {
    --middle-stop: 0.01%;
    background: linear-gradient(90deg, #0F0E1B 0%, #AEE900 var(--middle-stop), #0F0E1B 100%);
    height: 10px;
    width: 200px;
    border-radius: 2px;
    border: 1px solid #798480;
    animation: moveGradient 1s infinite;

    &__container {
        margin-bottom: 10px;
        border-radius: 10px;
        border: 1px solid #889697;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px;
    }
}


@keyframes moveGradient {
    0% {
        --middle-stop: 0.01%;
    }

    2.5% {
        --middle-stop: 5%;
    }

    5% {
        --middle-stop: 10%;
    }

    7.5% {
        --middle-stop: 15%;
    }

    10% {
        --middle-stop: 20%;
    }

    12.5% {
        --middle-stop: 25%;
    }

    15% {
        --middle-stop: 30%;
    }

    17.5% {
        --middle-stop: 35%;
    }

    20% {
        --middle-stop: 40%;
    }

    22.5% {
        --middle-stop: 45%;
    }

    25% {
        --middle-stop: 50%;
    }

    27.5% {
        --middle-stop: 55%;
    }

    30% {
        --middle-stop: 60%;
    }

    32.5% {
        --middle-stop: 65%;
    }

    35% {
        --middle-stop: 70%;
    }

    37.5% {
        --middle-stop: 75%;
    }

    40% {
        --middle-stop: 80%;
    }

    42.5% {
        --middle-stop: 85%;
    }

    45% {
        --middle-stop: 90%;
    }

    47.5% {
        --middle-stop: 95%;
    }

    50% {
        --middle-stop: 100%;
    }

    52.5% {
        --middle-stop: 95%;
    }

    55% {
        --middle-stop: 90%;
    }

    57.5% {
        --middle-stop: 85%;
    }

    60% {
        --middle-stop: 80%;
    }

    62.5% {
        --middle-stop: 75%;
    }

    65% {
        --middle-stop: 70%;
    }

    67.5% {
        --middle-stop: 65%;
    }

    70% {
        --middle-stop: 60%;
    }

    72.5% {
        --middle-stop: 55%;
    }

    75% {
        --middle-stop: 50%;
    }

    77.5% {
        --middle-stop: 45%;
    }

    80% {
        --middle-stop: 40%;
    }

    82.5% {
        --middle-stop: 35%;
    }

    85% {
        --middle-stop: 30%;
    }

    87.5% {
        --middle-stop: 25%;
    }

    90% {
        --middle-stop: 20%;
    }

    92.5% {
        --middle-stop: 15%;
    }

    95% {
        --middle-stop: 10%;
    }

    97.5% {
        --middle-stop: 5%;
    }

    100% {
        --middle-stop: 0.01%;
    }




}