.coins-header {

    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid rgba(136, 150, 151, 0.20);
    background: rgba(136, 150, 151, 0.05);
    backdrop-filter: blur(30px);
    width: 100%;
    height: fit-content;




    &__settings {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;

        border-radius: 6px;
        border: 1px solid rgba(136, 150, 151, 0.10);
        background: rgba(217, 241, 233, 0.05);

        margin-left: auto;
    }


    &__navigation {
        display: flex;
        position: relative;

        border-radius: 8px;
        border: 1px solid rgba(136, 150, 151, 0.10);
        background: rgba(136, 150, 151, 0.05);
        padding: 4px;

        @include down(md) {
            flex: 1;
        }






        .underline {
            height: 26px;
            top: 4px;
            border-radius: 6px;
        }

        &__button {
            width: 100px;
            display: flex;
            height: 26px;
            position: relative;
            align-items: center;
            justify-content: center;

            @include down(md) {
                flex: 1;
                width: auto;
            }
            color: rgba(217, 241, 233, 0.80);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            transition: all .2s ease-out;

            &:hover {
                color: rgba(217, 241, 233, 1);
            }

            &:active {
                color: #AEE900;
            }

            &--active {
                color: #AEE900 !important;
            }
        }
    }
}


.coins-layout {
    display: flex;
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    gap: 8px;

    @include down(md) {
        max-width: 1000px;
        padding: 0 20px;
        align-self: flex-start;
        height: calc(100dvh - 60px - 160px);
    }
}


.community-coins,
.solana-coins,
.ethereum-coins {
    height: 600px;
    max-height: 600px;
    display: flex;
    width: 100%;

    @include down(md) {
        flex: 1;
        min-height: 0;
        height: auto;
        max-height: none;
    }

    .modal-table {
        flex: 1;
        border-radius: 12px;
        border: 1px solid rgba(136, 150, 151, 0.20);
    }
}

.pools-modal__header__sparkline {
    width: 100px;
    min-width: 100px;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.pool-item__sparkline {
    width: 100px;
    min-width: 100px;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
