.address-modal {
    padding: 4px;
    flex: 1;
    gap: 12px;
    border-radius: 8px;
    background: rgba(136, 150, 151, 0.05);
    display: flex;
    flex-direction: column;




    &__bottom,
    &__wallets {
        display: flex;
        gap: 4px;
        flex-direction: column;
    }


    &__wallets {
        .wallet-item {
            background: none;
            padding: 0;
        }
    }


    &__use {
        border-radius: 6px;
        padding: 4px 8px;
        background: rgba(136, 150, 151, 0.05);
        display: flex;
        color: #889697;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }

    &__cta {
        display: flex;

        border-radius: 4px;
        border: 1px solid var(--dark-colorAccent, #AEE900);
        background: rgba(174, 233, 0, 0.10);
        height: 32px;
        gap: 2px;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: #AEE900;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }



    &__input {
        display: flex;
        gap: 10px;
        padding: 6px 12px;
        height: 48px;

        border-radius: 6px;
        border: 1px solid rgba(136, 150, 151, 0.10);
        background: rgba(15, 14, 27, 0.20);
        align-items: center;

        transition: all .2s ease-in-out;

        &:hover {
            border: 1px solid rgba(217, 241, 233, 0.15);
            color: rgba(217, 241, 233, 1);
            background: rgba(217, 241, 233, 0.10);
        }

        &:focus-within {
            border: 1px solid #AEE900;
            background: rgba(174, 233, 0, 0.10);
            color: #AEE900;
        }

        input {
            flex: 1;

            color: #D9F1E9;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }

    &__header {
        display: flex;
        gap: 4px;


        &__address {
            color: #889697;
            display: flex;
            align-items: center;
            font-family: var(--font-handjet);
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: 20px;
            flex: 1;
            padding: 2px 4px 2px 8px;
            border-radius: 6px;
            background: rgba(136, 150, 151, 0.05);
            height: 28px;

            button {
                display: flex;
                margin-left: auto;

                transition: all .2s ease-in-out;
                color: #889697;

                &:hover {
                    color: #D9F1E9
                }

                &:active {
                    color: #AEE900;
                }
            }
        }



        &__badge {
            border-radius: 6px;
            border: 1px solid #889697;
            background: rgba(136, 150, 151, 0.05);
            display: flex;
            height: 28px;
            width: 46px;
            align-items: center;
            justify-content: center;


            color: #889697;

            font-family: var(--font-handjet);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
        }
    }

    &__wrapper {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 300;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__container {
        width: 320px;
        padding: 12px;

        border-radius: 12px;
        border: 1px solid rgba(136, 150, 151, 0.20);
        background: rgba(136, 150, 151, 0.05);

        @include down(md) {
            position: fixed;
            left: 20px;
            right: 20px;
            width: auto;
            bottom: calc(102px + 36px + 16px);
        }
    }
}