html,
body {
    max-width: 100vw;
    //  overflow-x: visible;

    // height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: var(--font-fira-code), monospace;
    box-sizing: border-box !important;
    background-color: #000000;
    color: #889697;
    margin: 0;
    position: relative;
    scroll-behavior: smooth;
}



label {
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

textarea {
    all: unset;
}

input,
textarea {
    background-color: transparent;
    border: none;
    color: #D9F1E9;
    caret-color: #AEE900;
    padding: 0;
    font-family: var(--font-fira-code);
    font-weight: 500;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &::placeholder {
        color: #889697;
    }
}


button {
    all: unset;
    cursor: pointer;
}

a {
    all: unset;
    cursor: pointer;
}

*,
*::before,
*::after {
    box-sizing: inherit !important;
}



h1,
h2,
h3,
h4,
h5 {
    all: unset
}


select {
    all: unset
}

p {
    margin: 0;
}


ul {
    @include down(md) {
        padding-left: 24px;
    }
}