@import "./globals.scss";


@import "../components/token-modal/index.scss";
@import "../components/modal/index.scss";
@import "../components/wallets/index.scss";
@import "../components/swap/index.scss";
@import "../components/buy/index.scss";
@import "../components/header/index.scss";
@import "../components/skeleton/index.scss";
@import "../components/chart/index.scss";
@import "../components/vizor/index.scss";
@import "../components/slippage-modal/index.scss";
@import "../app/(exchange)/index.scss";
@import "../app/(exchange)/buy/index.scss";
@import "../app/index.scss";
@import "./privy.scss";


@import "../components/confirmation/index.scss";