@import "./globals.scss";
@import "./media.scss";


@import "../components/token-modal/index.scss";
@import "../components/coins/index.scss";
@import "../components/feed/index.scss";
@import "../components/modal/index.scss";
@import "../components/home-hero/index.scss";
@import "../components/home-blog/index.scss";
@import "../components/buy/buy-page.scss";
@import "../components/wallets/index.scss";
@import "../components/swap/index.scss";
@import "../components/history/index.scss";
@import "../components/home-section-header/index.scss";
@import "../components/buy/index.scss";
@import "../components/buy/modal.scss";
@import "../app/admin/[[...index]]/index.scss";
@import "../components/header/index.scss";
@import "../components/footer/index.scss";
@import "../components/blog/index.scss";
@import "../components/skeleton/index.scss";
@import "../components/chart/index.scss";
@import "../components/chart/modal.scss";
@import "../components/vizor/index.scss";
@import "../components/transaction/index.scss";
@import "../components/dynamic-notification/index.scss";
@import "../components/deep-link/index.scss";
@import "../components/slippage-modal/index.scss";
@import "../app/(exchange)/index.scss";
@import "../app/blog/[slug]/index.scss";
@import "../app/privacy/index.scss";
@import "../app/blog/index.scss";
@import "../app/(exchange)/buy/index.scss";
@import "../app/index.scss";
@import "./privy.scss";


@import "../components/confirmation/index.scss";