:root {

    ///////default privy colors
    --privy-color-accent: rgb(174 233 0 / 0.8) !important;
    --privy-color-accent-dark: rgb(217 241 233 / 0.8) !important;
    --privy-color-accent-darkest: rgb(217 241 233 / 0.1) !important;
    --privy-color-accent-light: rgb(174 233 0 / 0.1) !important;
    --privy-color-accent-lightest: rgb(174 233 0) !important;
    --privy-color-background: rgb(136 150 151 / 0.05) !important;
    --privy-color-background-2: rgb(217 241 233 / 0.05) !important;
    --privy-color-background-3: rgb(15 14 27 / 0.2) !important;
    --privy-color-error: rgb(241 61 32) !important;
    --privy-color-error-light: rgb(241 61 32 / 0.05) !important;
    --privy-color-foreground: rgb(136 150 151 / 0.8) !important;
    --privy-color-foreground-2: rgb(136 150 151) !important;
    --privy-color-foreground-3: rgb(136 150 151) !important;
    --privy-color-foreground-4: rgb(136 150 151 / 0.1) !important;
    --privy-color-foreground-accent: black !important;
    --privy-color-success: rgb(174 233 0) !important;
    --privy-color-accent-text: #D9F1E9;

    --privy-color-border: rgba(136, 150, 151, 0.20);

    --privy-border-radius-sm: 6px !important;
    --privy-border-radius-md: 8px !important;
    --privy-border-radius-full: 12px !important;
    --privy-border-radius-lg: 16px !important;


    ///////farcaster color scheme
    // --privy-color-accent: rgb(129 95 231 / 0.8) !important;
    // --privy-color-accent-dark: rgb(229 231 235 / 0.8) !important;
    // --privy-color-accent-darkest: rgb(229 231 235 / 0.1) !important;
    // --privy-color-accent-light: rgb(129 95 231 / 0.1) !important;
    // --privy-color-accent-lightest: rgb(129 95 231) !important;
    // --privy-color-accent-text: rgb(229 231 235) !important;
    // --privy-color-background: rgb(139 153 164 / 0.05) !important;
    // --privy-color-background-2: rgb(229 231 235 / 0.05) !important;
    // --privy-color-background-3: rgb(23 16 31 / 0.2) !important;
    // --privy-color-error: rgb(241 61 32) !important;
    // --privy-color-error-light: rgb(241 61 32 / 0.05) !important;
    // --privy-color-foreground: rgb(139 153 164 / 0.8) !important;
    // --privy-color-foreground-2: rgb(139 153 164) !important;
    // --privy-color-foreground-3: rgb(139 153 164) !important;
    // --privy-color-foreground-4: rgb(139 153 164 / 0.1) !important;
    // --privy-color-foreground-accent: rgb(0 0 0) !important;
    // --privy-color-success: rgb(129 95 231) !important;

    // --privy-border-radius-sm: 6px !important;
    // --privy-border-radius-md: 8px !important;
    // --privy-border-radius-full: 12px !important;
    // --privy-border-radius-lg: 16px !important;


    ///////light privy colors
    // --privy-color-accent: rgb(124 101 193 / 0.8) !important;
    // --privy-color-accent-dark: rgb(12 12 12 / 0.8) !important;
    // --privy-color-accent-darkest: rgb(12 12 12 / 0.1) !important;
    // --privy-color-accent-light: rgb(124 101 193 / 0.1) !important;
    // --privy-color-accent-lightest: rgb(124 101 193) !important;
    // --privy-color-accent-text: rgb(12 12 12) !important;
    // --privy-color-background: rgb(111 111 111 / 0.05) !important;
    // --privy-color-background-2: rgb(12 12 12 / 0.05) !important;
    // --privy-color-background-3: rgb(247 247 247 / 0.2) !important;
    // --privy-color-error: rgb(241 61 32) !important;
    // --privy-color-error-light: rgb(241 61 32 / 0.05) !important;
    // --privy-color-foreground: rgb(111 111 111 / 0.8) !important;
    // --privy-color-foreground-2: rgb(111 111 111) !important;
    // --privy-color-foreground-3: rgb(111 111 111) !important;
    // --privy-color-foreground-4: rgb(111 111 111 / 0.1) !important;
    // --privy-color-foreground-accent: rgb(0 0 0) !important;
    // --privy-color-success: rgb(124 101 193) !important;

    // --privy-border-radius-sm: 6px !important;
    // --privy-border-radius-md: 8px !important;
    // --privy-border-radius-full: 12px !important;
    // --privy-border-radius-lg: 16px !important;



    ///////light monochrome colors
    // --privy-color-accent: rgb(255 255 255 / 0.8) !important;
    // --privy-color-accent-dark: rgb(79 79 79 / 0.8) !important;
    // --privy-color-accent-darkest: rgb(79 79 79 / 0.1) !important;
    // --privy-color-accent-light: rgb(255 255 255 / 0.1) !important;
    // --privy-color-accent-lightest: rgb(255 255 255) !important;
    // --privy-color-accent-text: rgb(79 79 79) !important;
    // --privy-color-background: rgb(136 136 136 / 0.05) !important;
    // --privy-color-background-2: rgb(79 79 79 / 0.05) !important;
    // --privy-color-background-3: rgb(181 181 181 / 0.2) !important;
    // --privy-color-error: rgb(241 61 32) !important;
    // --privy-color-error-light: rgb(241 61 32 / 0.05) !important;
    // --privy-color-foreground: rgb(136 136 136 / 0.8) !important;
    // --privy-color-foreground-2: rgb(136 136 136) !important;
    // --privy-color-foreground-3: rgb(136 136 136) !important;
    // --privy-color-foreground-4: rgb(136 136 136 / 0.1) !important;
    // --privy-color-foreground-accent: rgb(0 0 0) !important;
    // --privy-color-success: rgb(255 255 255) !important;

    // --privy-border-radius-sm: 6px !important;
    // --privy-border-radius-md: 8px !important;
    // --privy-border-radius-full: 12px !important;
    // --privy-border-radius-lg: 16px !important;

}


#privy-modal-content {
    border: 1px solid var(--privy-color-border);
    font-family: var(--font-fira-code) !important;

    .login-method-button {
        color: var(--privy-color-accent-text) !important;
    }

    backdrop-filter: blur(30px);

    h3 {
        font-family: var(--font-fira-code) !important;
        color: var(--privy-color-accent-text);
    }

}