.toast {
    display: flex;
    gap: 4px;
    flex-direction: column;

    border-radius: 12px;
    // border: 1px solid rgba(174, 233, 0, 0.20);
    // background: rgba(174, 233, 0, 0.05);
    backdrop-filter: blur(75px);
    padding: 10px 12px 12px 12px;
    position: fixed !important;
    bottom: 75px;
    right: 66px;
    width: 230px;
    // backdrop-filter: blur(75px);
    z-index: 1000;

    @include down(md) {
        bottom: 154px;
        right: 20px;
    }


    &__text {
        border-radius: 6px;
        background: inherit;
        display: flex;
        padding: 4px 8px;
        flex: 1;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        color: #889697;

        display: flex;
        flex-direction: column;

        flex: 1;

        a {
            color: #D9F1E9;

            &:hover {
                text-decoration: underline;
            }

        }
    }


    &--error {
        color: #F13D20;
        background: rgba(241, 61, 32, 0.05);
        border: 1px solid rgba(241, 61, 32, 0.20);
    }

    &--success {
        color: #AEE900;
        border: 1px solid rgba(174, 233, 0, 0.20);
        background: rgba(174, 233, 0, 0.05);
    }

    &--notification {
        color: #D9F1E9;
        border: 1px solid rgba(136, 150, 151, 0.20);
        background: rgba(136, 150, 151, 0.05);
    }

    &__header {
        border-radius: 6px;
        border: 1px solid currentColor;
        height: 28px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        font-family: var(--font-handjet);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }


}


.toast-header {
    display: flex;
    align-items: center;
    height: 16px;

    gap: 4px;

    svg {
        margin: 2px;
    }

    button {
        display: flex;
        transition: all .2s ease-in-out;

        &:hover {
            opacity: .8;
        }

        &:active {
            opacity: .6;
        }

    }

    &__status {
        display: flex;
        flex: 1;

        gap: 4px;

        &__progress,
        &__grey {
            border-radius: 1px;
            height: 3px;
        }

        &__progress {
            //  width: 100px;
            height: 3px;
            background-color: currentColor;
        }


        &__grey {
            display: flex;
            flex: 1;
            background-color: #333333;

        }
    }
}