// SkeletonLoaderWrapper.module.scss
.wrapper {
    overflow: hidden;
    position: relative;
    display: inline-flex; // adapts to child dimensions or explicit props
    align-items: center;

}

.skeleton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(240, 240, 240, 0.08) 0%, rgba(224, 224, 224, 0.12) 50%, rgba(240, 240, 240, 0.08) 100%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    z-index: 10;
    pointer-events: none;
}

@keyframes shimmer {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}