.swap-header {


    // &__settings {
    //     width: 34px !important;
    //     height: 34px !important;
    // }
    position: relative;

    .wallet-header__address__provider {
        display: none;
    }

    .wallet-header__address__value {
        height: 32px;
        padding: 0 7px;
        gap: 4px;
        min-width: 176px;
        font-size: 14px;
        border-radius: 6px;

        &__image {
            width: 24px;
            height: 24px;
        }
    }

    .header__wallet__wrapper {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 507px;

        @include down(md) {
            max-width: initial;
        }
    }

    .wallets {
        .modal__header {
            display: flex !important;
        }
    }

    .wallets__container {
        // flex-direction: row;

        .wallet-item__connect {
            flex: 1;
            max-width: initial;
            justify-content: center;



            // flex-direction: row-reverse !important;
        }
    }

    .wallet-item__connect {
        height: 32px;
        max-width: 176px;
        justify-content: flex-end;
        flex-direction: row-reverse;
        padding-left: 10px;
    }

    &__badge {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px !important;
        padding: 0 10px;

        border-radius: 6px;
        border: 1px solid #889697;
        background: rgba(136, 150, 151, 0.05);

        color: #889697;
        font-family: var(--font-handjet);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
}


.home-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100dvh - 60px);
    justify-content: center;
    padding: 0 20px;
    z-index: 0;

    @include down(xxl) {
        margin-bottom: 120px;
    }

    @include down(md) {
        justify-content: flex-start;
        margin-bottom: 0;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 12px;
        // margin-top: 194px;
        max-width: 1137px;
        width: 100%;
        position: absolute;
        bottom: -300px;

        @include down(md) {
            gap: 6px;
        }

        h1 {
            text-align: center;
            font-family: var(--font-funnel-display);
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 56px;

            @include down(md) {
                font-size: 24px;
                line-height: 32px;
            }
        }

        p {
            color: #889697;
            text-align: center;
            font-family: var(--font-funnel-sans);
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: 38px;

            @include down(md) {
                font-size: 16px;
                line-height: 24px;
            }
        }



        &__swap {
            color: #D9F1E9;
        }

        &__bridge {
            color: rgba(217, 241, 233, 0.70);
        }

        &__send {
            color: rgba(217, 241, 233, 0.50);
        }
    }

    &__main {
        justify-content: center;
        display: flex;
        position: relative;
        width: 100%;
    }


    &__swap {
        display: flex;
        flex-direction: column;
        gap: 8px;
        z-index: 10;
        max-width: 500px;


    }
}










.hero-carousel {
    display: flex;
    // width: 100%;
    height: 92px;
    // max-width: 1460px;
    left: 0;
    right: 0;
    pointer-events: none;
    // position: relative;
    position: absolute;
    top: calc(50% + 8px);
    transform: translateY(-50%);
    z-index: 0;

    @include down(md) {
        left: -20px;
        right: -20px;
    }

    &::before,
    &::after {
        width: 200px;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;

        @include down(md) {
            display: none;
        }
    }

    &::before {
        background: linear-gradient(to right,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 0.85) 25%,
                rgba(0, 0, 0, 0.5) 55%,
                rgba(0, 0, 0, 0) 100%);
        left: 0;
        z-index: 100;
        // transform: scaleX(-1);
    }

    &::after {
        background: linear-gradient(to left,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 0.85) 25%,
                rgba(0, 0, 0, 0.5) 55%,
                rgba(0, 0, 0, 0) 100%);
        right: 0;
        z-index: 100;
    }

    // left: 0;
    // right: 0;
    //  left: 50%;

    &__viewport {
        position: absolute;
        left: 0;
        overflow: hidden;
        right: 0;
        // display: flex;
        //   width: 100%;
        //   overflow: hidden;
        //    height: 92px;

    }

    &__container {
        display: flex;
        //   touch-action: pan-y pinch-zoom;
        margin-left: calc(12px * -1);
    }
}

.rect-carousel-item {
    transform: translate3d(0, 0, 0);
    flex: 0 0 40px;
    min-width: 0;
    margin-left: 12px;

    display: flex;


    div {
        background-color: #D9F1E9;
        width: 40px;
        height: 40px;
        border-radius: 4px;
    }

    height: 92px;
    flex-direction: column;
    gap: 12px;
}