.hero-carousel {
    display: flex;
    width: 100%;
    //  height: 92px;
    pointer-events: none;
    // position: relative;

    &__viewport {
        position: absolute;
        left: 0;
        right: 0;
        // display: flex;
        //   width: 100%;
        //   overflow: hidden;
        //    height: 92px;
    }

    &__container {
        display: flex;
        //   touch-action: pan-y pinch-zoom;
        margin-left: calc(12px * -1);
    }
}

.rect-carousel-item {
    transform: translate3d(0, 0, 0);
    flex: 0 0 40px;
    min-width: 0;
    margin-left: 12px;

    display: flex;


    div {
        background-color: #D9F1E9;
        width: 40px;
        height: 40px;
        border-radius: 4px;
    }

    height: 92px;
    flex-direction: column;
    gap: 12px;
}