.tags-divider {
    display: flex;
    color: #D9F1E9;
    font-family: var(--font-funnel-sans);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


    align-items: center;
    gap: 4px;
    padding: 6px 17px;
    margin: 0px 6px;
    margin-top: 100px;
    margin-bottom: 24px;

    @include down(sm) {
        margin: 0;
        margin-top: 16px;
        padding: 6px 0;

    }

    span {
        margin: 0 12px;
    }

    .mini-divider,
    .main-divider {
        width: 5.5px;
        height: 1px;
        background-color: #889697;
    }

    .main-divider {
        width: 100%;
    }
}


.post-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;

    @include down(sm) {
        margin-bottom: 16px;
    }

    &__bottom {
        color: #889697;
        display: flex;
        font-family: var(--font-funnel-sans);
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;



        @include down(sm) {
            font-size: 12px;
            margin-top: 8px;

            .post-title__category {
                margin-right: 4px !important;
                height: 20px !important;
                border-radius: 2px !important;

                span {
                    font-size: 12px !important;
                    line-height: normal !important;
                }
            }
        }


        .post-title__category {
            margin: 0;
            height: 34px;
            margin-right: 24px;
            border-radius: 4px;

            span {
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
            }
        }
    }

    &__creator,
    &__date {
        display: flex;
        gap: 4px;
    }

    &__date__icon,
    &__date__ago,
    &__date__date,
    &__creator__title,
    &__creator__img {
        height: 34px;
        display: flex;
        border-radius: 4px;
        align-items: center;

        @include down(sm) {
            height: 20px;
            border-radius: 2px;
        }
    }

    &__date__ago {
        padding: 4px 16px;

        @include down(sm) {
            padding: 0 6px;
        }

        background: rgba(217, 241, 233, 0.10);
    }

    &__date__date {
        background: rgba(136, 150, 151, 0.10);
        padding: 4px 12px;

        @include down(sm) {
            padding: 0 4px;
        }
    }

    &__creator__title {
        padding: 4px 12px;
        background: rgba(136, 150, 151, 0.10);

        @include down(sm) {
            padding: 0 4px;
        }
    }

    &__date__icon,
    &__creator__img {
        width: 34px;
        justify-content: center;
        background: rgba(136, 150, 151, 0.10);

        @include down(sm) {
            width: 20px;

            img {
                width: 16px;
                height: 16px;
            }
        }
    }

    &__date {
        margin-left: auto;
    }


    h1 {
        color: #D9F1E9;
        font-size: 64px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        max-width: 814px;
        margin-bottom: 40px;
        font-family: var(--font-funnel-display);

        @include down(sm) {
            font-size: 24px;
            line-height: normal;
            margin-bottom: 8px;
        }
    }

    &__category {
        display: flex;
        padding: 0 24px;
        width: fit-content;
        border-radius: 8px;
        height: 40px;
        align-items: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        font-family: var(--font-funnel-display);
        margin-bottom: 47px;


        @include down(sm) {
            padding: 0 4px;
            height: 19px;
            font-size: 12px;
            line-height: normal;
            margin-bottom: 18px;
        }
    }

    // &__
}


.blog-page-post {
    flex-direction: column;
    display: flex;
    //  gap: 48px;
    width: 100%;
    padding: 0 118px;
    gap: 0 !important;

    .blog-page-post__portable {
        margin: 0;
    }

    .blog-subscribe:first-child {
        display: none;

        @include down(md) {
            display: flex;
        }
    }

    @include down(md) {
        .blog-subscribe {
            margin-bottom: 20px;
        }
    }

    &__list {
        .blog-post {


            aspect-ratio: 1.2433962264;
            max-width: 100%;

            @include down(sm) {
                grid-column: span 2;
                aspect-ratio: 2.4428571429;
            }
        }
    }

    &__container {
        display: flex;
        gap: 150px;

        @include down(md) {
            .blog-subscribe {
                display: none;
            }
        }
    }
}

.post-image {
    border-radius: 12px;
    background: rgba(217, 241, 233, 0.12);
    padding: 10px;
    margin-bottom: 80px;

    @include down(sm) {
        margin-bottom: 20px;
        padding: 5px;
    }


    &__container {
        position: relative;
        width: 100%;
        aspect-ratio: 1.9823529412;

        img {
            border-radius: 8px;
        }
    }
}