.main {
    display: flex;
    max-width: 1460px;
    width: 100%;
    justify-content: center;
    // padding-top: 80px;
    // padding-top: 50px;
    // align-items: center;
    min-height: calc(100dvh - 200px);
    align-items: center;
    overflow: hidden;
    // @include down(md) {
    //     padding-top: 77px;
    // }

}

.exchange-layout {
    min-height: 641px;
}


.grecaptcha-badge {
    opacity: 0;
}