.main {
    display: flex;
    max-width: 1460px;
    width: 100%;
    justify-content: center;
    padding-top: 100px;
    // padding-top: 50px;
    // align-items: center;


    @include down(md) {
        padding-top: 77px;
    }

}


.grecaptcha-badge {
    opacity: 0;
}