.main {
    display: flex;
    max-width: 1460px;
    width: 100%;
    justify-content: center;
    padding-top: 60px;
    min-height: 100dvh;
    align-items: center;
    overflow: visible;

    @include down(md) {
        align-items: flex-start;
    }
}

.exchange-layout {
    min-height: 641px;

    @include down(md) {
        padding: 0 20px;
    }
}


.grecaptcha-badge {
    opacity: 0;
}