.main {
    display: flex;
    height: calc(100dvh - 120px);
    width: 100%;
    justify-content: center;
    padding-top: 100px;
    // padding-top: 50px;
    // align-items: center;

}


.feed-page {
    padding-top: 500px;
    z-index: 300;
}