.dropdown-post {
    height: 146px !important;
    gap: 4px;

    .dropdown-post__arrow {
        display: flex;
        align-items: center;

        svg {
            transition: all .2s ease-out;
        }
    }

    &:hover {
        .dropdown-post__arrow {

            //   align-items: center;

            svg {
                color: rgba(217, 241, 233, 0.80);
                transform: translateX(2px);
            }
        }
    }

    &:active {
        .dropdown-post__arrow {
            svg {
                transform: translateX(4px);
                color: #AEE900;
            }
        }
    }


    &__bot {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #889697;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;


    }
}





.dropdown-category {
    display: flex;
    flex-direction: column;
    height: 102px;
    flex: 1;
    padding: 8px;
    justify-content: space-between;
    border-radius: 4px;
    background: rgba(136, 150, 151, 0.05);
    transition: all .2s ease-out;


    &:hover {

        background: rgba(136, 150, 151, 0.1);
        color: rgba(217, 241, 233, 0.80);
    }

    svg {
        transition: all .2s ease-out;
    }

    &:active {

        background: rgba(174, 233, 0, 0.1) !important;

        h4,
        svg {
            color: #AEE900;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;

        &__tag {
            border-radius: 4px;
            background: rgba(174, 233, 0, 0.10);
            padding: 0 4px;
            display: flex;
            align-items: center;
            color: #AEE900;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: rgba(217, 241, 233, 0.80);
        font-family: var(--font-funnel-sans);
        margin-top: auto;

        h4 {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        span {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* number of lines */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }
}


.dropdown-blog {
    width: 704px !important;

    &__categories,
    &__posts {
        display: flex;
        gap: 4px;
    }

    &__bot {
        display: flex;
        gap: 4px;
        color: #889697;

        color: #889697;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        /* 128.571% */


        &__icon,
        &__title,
        &__link {
            height: 32px;
            display: flex;
        }

        &__icon {
            border-radius: 4px;
            background: rgba(217, 241, 233, 0.05);
            width: 32px;
            align-items: center;
            justify-content: center;
        }

        &__title {
            border-radius: 6px;
            background: rgba(136, 150, 151, 0.05);
            display: flex;
            align-items: center;
            padding: 0 8px;
            flex: 1;
        }

        &__link {
            border-radius: 4px;
            border: 1px solid rgba(217, 241, 233, 0.10);
            background: rgba(217, 241, 233, 0.05);
            padding: 0 12px;
            font-size: 16px;
            line-height: 20px;
            align-items: center;
            justify-content: space-between;
            width: 164px;
            transition: all .2s ease-out;

            svg {
                transition: all .2s ease-out;
            }

            &:hover {


                border: 1px solid rgba(217, 241, 233, 0.15);
                color: rgba(217, 241, 233, 0.8);
                background: rgba(217, 241, 233, 0.1);

                svg {
                    transform: translateX(2px);
                }

            }

            &:active {
                color: rgba(174, 233, 0, 0.8);
                border: 1px solid rgba(174, 233, 0, 0.15);
                background: rgba(174, 233, 0, 0.1);

                svg {
                    transform: translateX(4px);
                }
            }
        }
    }

    .dropdown-routes {
        flex-direction: column;
        gap: 4px;
    }
}




.dropdown-routes {
    display: flex;
    gap: 4px;

    &__active {
        display: flex;
        flex-direction: column;
        // width: 250px;
        //     width: 100%;
        padding: 8px;
        border-radius: 4px;
        background: rgba(136, 150, 151, 0.05);
    }

    // 

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__icon {
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            svg {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &__tag {
            border-radius: 4px;
            background: rgba(174, 233, 0, 0.10);
            padding: 0 4px;
            height: 16px;
            display: flex;
            color: #AEE900;
            align-items: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
        }
    }

    &__text {
        margin-top: auto;
        display: flex;
        color: rgba(217, 241, 233, 0.80);
        font-family: var(--font-funnel-display);
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__list {
        display: flex;
        flex-direction: column;
        min-width: 172px;
        border-radius: 4px;
        background: rgba(136, 150, 151, 0.05);
        min-height: 128px;
        color: #889697;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        overflow: hidden;
    }

    &__btn {
        display: flex;
        align-items: center;
        transition: all 0.2s ease-out;
        flex: 1;

        &:hover {
            background: rgba(136, 150, 151, 0.1);
        }




        &:not(:last-child) {
            border-bottom: 1px solid rgba(136, 150, 151, 0.1);
        }

        &__icon {
            display: flex;
            width: 32px;
            height: 32px;
            align-items: center;
            justify-content: center;
        }

        &__check {
            display: flex;
            margin-left: auto;
            margin-right: 10px;
            opacity: 0;
            transition: all 0.2s ease-out;
        }

        &:hover {
            color: #D9F1E9;
            background: rgba(136, 150, 151, 0.1);

            .dropdown-routes__btn__check {
                color: rgba(217, 241, 233, 0.70);
                opacity: 1;
            }
        }

        &--displayed {
            .dropdown-routes__btn__check {
                opacity: 1;
            }
        }

        &:active,
        &--active {
            color: #AEE900 !important;

            background: rgba(174, 233, 0, 0.1) !important;

            &:not(:last-child) {
                border-bottom: 1px solid rgba(174, 233, 0, 0.2);
            }

            .dropdown-routes__btn__check {
                color: #AEE900 !important;
                opacity: 1;
            }
        }

        &--uncheck {
            .dropdown-routes__btn__check {
                opacity: 0;
            }
        }
    }

    &__wrapper {
        position: absolute;
        z-index: 10;
        top: calc(100% + 10px);
        left: -65px;
        width: 450px;
        display: flex;
        border-radius: 8px;
        border: 1px solid rgba(136, 150, 151, 0.04);
        background: rgba(0, 0, 0, 0.04);
        backdrop-filter: blur(75px);
        padding: 6px;

        &::before {
            content: "";
            position: absolute;
            //   background-color: red;
            left: 0;
            right: 0;
            top: -20px;
            height: 20px;
        }
    }
}