.header {
    display: flex;
    width: 100%;
    max-width: 1460px;
    padding: 16px 20px 0px 20px;
    align-items: center;
    position: relative;


    @include down(md) {
        display: none;
    }




    // &:before {
    //     position: absolute;
    //     top: calc(100% + 8px);
    //     content: "";
    //     left: 41.5px;
    //     right: 41.5px;
    //     height: 150px;

    //     border: #889697 solid 1px;
    //     border-top: none;
    //     border-bottom: none;
    //     pointer-events: none;
    // }

    &__wallet {
        display: flex;
        position: relative;



        &__wrapper {
            position: absolute;
            top: calc(100% + 8px);
            right: 0;
            width: 100%;

            .wallets {
                position: relative;
                z-index: 1;
            }

        }
    }

    .divider {
        div {
            height: 1px;
        }

    }

    &__side-divider {
        width: 38px;
        height: 1px;
        background-color: #889697;
        margin: 0px 4px;
    }

    &__logo {
        display: flex;
        margin: 7px 12px 7px 14px;

        //  border-radius: 1000px;
        // background-color: #AEE900;
    }

    &__cross {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
    }
}


.confirmation__buttons__cta {
    //  color: #0F0E1B;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 4px 10px;
    height: 28px;
    border-radius: 5px;

    .btn-polygons,
    svg {
        height: 28px !important;
        width: 208px !important;
    }

    .btn-polygons {
        left: auto;
    }

    /* 125% */
}


.divider-long {
    display: flex;
    flex: 1;
    height: 1px;
    background-color: #889697;
}

.header-navigation__item {
    display: flex;
    align-items: center;
    padding: 4px 6px 4px 0px;
    gap: 2px;
    transition: color .2s ease-in-out;
    position: relative;

    &__wrapper {
        display: flex;
        cursor: pointer;
    }

    &:hover,
    &--open {
        color: #D9F1E9;
    }

    &:active {
        color: #AEE900;
    }

    &--active {
        color: #AEE900 !important;
    }
}


.header-theme,
.wallet-header {
    margin: 0 4px;
}

.header-navigation {
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;

    margin: 0 4px;
}



.header-footer {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1460px;
    padding: 0px 20px 16px 20px;
    gap: 4px;
    margin-top: 80px;

    svg {
        rotate: 180deg;
    }


    // &:before {
    //     position: absolute;
    //     bottom: calc(100% + 8px);
    //     content: "";
    //     left: 41.5px;
    //     right: 41.5px;
    //     height: 150px;

    //     border: #889697 solid 1px;
    //     border-top: none;
    //     border-bottom: none;
    //     pointer-events: none;
    // }
}