.home-charts,
.home-feed {
    display: flex;
    flex-direction: column;
    gap: 94px;
    align-items: center;

    &__wrapper {
        max-width: 1528px;
        display: flex;
        padding: 0 140px;
        margin-bottom: 94px;

        .home-about-icon__animation {
            border-right: none;
            border-left: 1px solid #889697;
        }
    }
}

.section-grid-bottom {
    align-items: center;
    justify-content: center;
    padding: 40px;
}