.animated-dots {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    z-index: 0;


    @include down(md) {
        margin: 0;
        gap: 16px;
    }

    .blog-circle--overlay {
        width: 32px;
        height: 32px;

        @include down(md) {
            width: 24px;
            height: 24px;
        }
    }

    .footer-dot {
        position: relative;
        background: #D9F1E9;
        width: 32px;
        height: 32px;
        border-radius: 1000px;

        @include down(md) {
            width: 24px;
            height: 24px;
        }

        .footer__hole {
            position: absolute;
            inset: 0;
            display: flex;
            width: 32px;
            height: 32px;
            align-items: center;
            justify-content: center;
            background: black;
            border-radius: 1000px;
            opacity: 0;
            transition: opacity .2s ease-out;

            @include down(md) {
                width: 24px;
                height: 24px;
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}


.footer-form {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: rgba(136, 150, 151, 0.05);
    padding: 4px;
    gap: 4px;
    margin-top: 50px;
    position: relative;

    @include down(md) {
        order: 1;
        margin-top: -24px;
        margin-bottom: 24px;
    }

    &__error {
        position: absolute;
        bottom: -16px;


        color: #F13D20;
        font-family: var(--font-funnel-sans);
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: uppercase;
    }

    .email-submit {
        transition: all .2s ease-out;
        display: flex;
        padding: 0 6px 0 8px;
        border-radius: 4px;
        background: #AEE900;
        color: #000;
        font-family: var(--font-funnel-display);
        color: #000;
        font-size: 12px;
        gap: 4px;
        align-items: center;
        height: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;



        &:hover {
            opacity: 0.7;

        }

        &:active {
            background-color: black;
            color: #AEE900;
            opacity: 1;
        }
    }

    &__input {
        border-radius: 6px;
        border: 1px solid rgba(136, 150, 151, 0.1);
        background: rgba(217, 241, 233, 0.05);
        padding: 6px 12px;
        height: 48px;
        align-items: center;
        display: flex;
        transition: all .2s ease-out;

        @include down(md) {
            height: 36px;
        }

        &--submitting {
            opacity: 0.7;

            .email-submit {
                background-color: #889697;
            }
        }

        &--error {
            background: rgba(241, 61, 32, 0.05);

            border-color: rgba(241, 61, 32, 0.1);

            .email-submit {
                background-color: #F13D20;
            }
        }

        &:hover {
            border: 1px solid rgba(217, 241, 233, 0.15);
            color: rgba(217, 241, 233, 0.8);
            background: rgba(217, 241, 233, 0.1);
        }

        &:focus-within {
            color: rgba(174, 233, 0, 0.8);
            border: 1px solid rgba(174, 233, 0, 0.15);
            background: rgba(174, 233, 0, 0.1);
        }

        input {
            &::placeholder {
                color: rgba(136, 150, 151, 0.80);
            }

            color: #D9F1E9;
            font-family: var(--font-funnel-display);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            width: 100%;
        }


    }

    &__bottom {
        display: flex;
        gap: 4px;
        height: 26px;


        span {
            color: #889697;
            font-family: var(--font-handjet);
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        &__header,
        &__example {
            padding: 4px 8px;
            border-radius: 6px;
            background: rgba(136, 150, 151, 0.05);
            display: flex;
            align-items: center;
        }


        &__example {
            width: 100%;

            span {
                color: #D9F1E9;
            }
        }
    }
}


.footer-main {
    font-family: var(--font-funnel-display);
    // height: 380px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;


    @include down(md) {
        padding-bottom: 160px;
        flex-direction: column;
        gap: 48px;
    }

    gap: 100px;

    @mixin media-hover {
        transition: all .2s ease-in-out;

        &:hover {
            color: #D9F1E9;
            text-decoration: underline;
        }

        &:active {
            color: rgba(174, 233, 0, 0.80);
        }
    }

    &__dots {
        display: flex;

        a {
            display: none;
        }

        @include down(md) {
            order: 3;
            margin-top: 24px;
            align-items: center;
            justify-content: space-between;

            a {
                display: flex;
                color: #D9F1E9
            }
        }
    }


    &__right {
        display: flex;
        gap: 200px;

        @include down(md) {
            order: 2;
            flex-direction: column;
            gap: 48px;
            max-width: 402px;
            margin: 0 auto;
            width: 100%;
        }

        .blog-heading {
            color: #D9F1E9;
            font-family: var(--font-funnel-display);
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 18px;
        }

        &__landing,
        &__sitemap {

            a {
                @include media-hover()
            }




            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;

            // gap: 30px;

        }

        &__sitemap {
            position: relative;
            width: 100px;

            &__container {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;

                @include down(md) {
                    flex-direction: row;

                }

            }

            a {
                //   text-decoration: underline;
            }

            .footer-main__blog {
                position: absolute;
                left: 0;
                bottom: 64px;
            }

            .footer-main__contacts {
                position: absolute;
                left: 0;
                bottom: 0;
                //  margin-top: auto;
            }
        }


    }

    &__bottom {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 24px;

        @include down(md) {
            order: 4;
            justify-content: center;

            a {
                display: none;
            }
        }

        a {
            @include media-hover()
        }
    }


    &__left {
        display: flex;
        flex-direction: column;
        max-width: 515px;
        width: 100%;

        @include down(md) {
            display: contents;
        }

        h2 {
            @include down(md) {
                order: 1;
            }
        }
    }

    &__right {
        display: flex;

        &__landing,
        &__sitemap {
            display: flex;
            flex-direction: column;

            @include down(md) {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap: 24px;

                .blog-heading {
                    text-align: center;
                    width: 100%;
                    margin-bottom: 24px;
                }

                a {
                    margin: 0 10%;
                }
            }
        }

        &__sitemap {
            @include down(md) {
                width: 100%;
                justify-content: center;
            }
        }
    }

    h2 {
        color: #D9F1E9;

        font-size: 28px;
        font-style: normal;
        font-weight: 400;

        @include down(md) {
            font-size: 20px;
            text-align: center;
        }

        /* 114.286% */
    }

    h4 {

        margin-right: auto;
        color: #D9F1E9;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;

        @include down(md) {
            font-size: 14px;
            margin-right: 0;

        }
    }
}






.animated-squares {
    height: 254px;
    //  background-color: red;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    max-width: 1346px;

    margin-top: 72px;
    margin-bottom: 130px;

    @include down(md) {
        height: 140px;
        margin-top: 40px;
        margin-bottom: 60px;
    }

    &__container {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(56, 20px);
        grid-template-rows: repeat(10, 20px);
        gap: 6px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;

        @include down(md) {
            grid-template-columns: repeat(56, 10px);
            grid-template-rows: repeat(10, 10px);
            gap: 3px;
        }

        .square {
            position: relative;

            &::before {
                position: absolute;
                content: "";
                left: -3px;
                right: -3px;
                top: -3px;
                bottom: -3px;
            }
        }
    }
}


.footer {
    display: flex;
    width: 100%;
    padding: 0 68px;
    max-width: 1460px;
    justify-content: center;
    flex-direction: column;
    margin-top: 58px;

    @include down(md) {
        padding: 0 20px;

        margin-top: 149px;
    }



    &__animation {
        display: flex;
        flex-direction: column;
        width: 100%;


        &__header {

            @include down(md) {
                justify-content: center;
                gap: 16px;
            }

            .header__logo {
                margin: 0;

                svg {
                    position: relative;
                    bottom: 3px;
                }
            }

            display: flex;
            font-family: var(--font-funnel-display);
            color: #D9F1E9;
            align-items: center;
            gap: 16px;
            font-size: 32px;
            font-style: normal;
            font-weight: 300;
            line-height: 32px;
        }
    }
}

.square {
    transition: opacity .2s ease-out;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    display: flex;
    opacity: 0;

    @include down(md) {
        width: 10px;
        height: 10px;
        border-radius: 2px;
    }
}


.square-252,
.square-309 {
    background-color: #ADE800 !important;
}

.square-253,
.square-308 {
    background-color: #D8F0E4 !important;

}