.blog-post--active {
    pointer-events: none;

    .blog-post__top__other {
        color: #D9F1E9;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}

.post-title__bottom--footer {
    margin: 0 30px;
    margin-bottom: 100px;

    @include down(sm) {
        margin: 0;
        margin-bottom: 56px;
    }

}

.posts-header {
    margin-bottom: 80px !important;
    overflow: visible !important;

    @include down(md) {
        margin-bottom: 36px !important;
    }

    .blog-divider {
        display: flex !important;
    }

}

.blog-header {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px 16px;
    margin: 0px 6px;

    border-radius: 8px;
    overflow-y: hidden;

    @include down(md) {
        margin: 0;
        padding: 6px;
    }

    &__wrapper {
        display: flex;
        gap: 4px;
        //  width: 100%;
        overflow-y: hidden;

        position: relative;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        scrollbar-width: none;

        -ms-overflow-style: none;

        @include down(md) {

            overflow-x: scroll;

        }
    }



    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.04);
        backdrop-filter: blur(75px);
        z-index: -1;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid rgba(136, 150, 151, 0.04);
    }

    position: sticky;
    top: 20px;
    z-index: 5;
    // width: 100%;

    &__back,
    &__up,
    &__share {
        height: 32px;
        align-items: center;
        padding: 0px 10px 0px 4px;
        gap: 2px;
        font-family: var(--font-funnel-display);
        display: flex;

        border-radius: 4px;
        border: 1px solid rgba(136, 150, 151, 0.10);
        background: rgba(136, 150, 151, 0.05);

        transition: all .2s ease-out;

        &:hover {
            border: 1px solid rgba(217, 241, 233, 0.15);
            color: rgba(217, 241, 233, 0.8);
            background: rgba(217, 241, 233, 0.1);
        }

        &:active {
            color: rgba(174, 233, 0, 0.8);
            border: 1px solid rgba(174, 233, 0, 0.15);
            background: rgba(174, 233, 0, 0.1);
        }
    }

    &__share {
        margin-left: 14px;
        position: relative;
        cursor: pointer;

        .share-btns {
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            border: 1px solid rgba(136, 150, 151, 0.20);
            background: rgba(136, 150, 151, 0.05);
            overflow: hidden;
        }

        .slippage-modal__wrapper {
            top: calc(100% + 16px);
        }

        .slippage-modal__container {
            flex-direction: column;
            border-radius: 16px;
            width: 300px;
            border: 1px solid rgba(136, 150, 151, 0.20);
            background: rgba(136, 150, 151, 0.05);
            //   backdrop-filter: blur(30px);

        }

        a {
            transition: all .2s ease-in;

            &:hover {
                background: rgba(136, 150, 151, 0.1);
            }

            &:active {
                background: rgba(174, 233, 0, 0.1);

                &:not(:last-child) {
                    border-bottom: 1px solid rgba(174, 233, 0, 0.2);
                }

                color: #AEE900;
            }

            &:not(:last-child) {
                border-bottom: 1px solid rgba(136, 150, 151, 0.1);
            }

            display: flex;
            justify-content: space-between;
            padding: 11px 12px;
            align-items: center;

            color: rgba(217, 241, 233, 0.80);
            font-family: var(--font-funnel-display);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            /* 183.333% */
            letter-spacing: -0.43px;
        }
    }

    &__up {
        padding: 0;
        width: 32px;
        justify-content: center;

        svg {
            rotate: 90deg;
        }
    }

    &__btn {
        position: relative;
        display: flex;

        font-family: var(--font-funnel-display);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: rgba(217, 241, 233, 0.80);
        transition: all .2s ease-in;
        width: 102px;
        height: 30px;
        align-items: center;
        justify-content: center;
        min-width: 102px;


        &:hover {
            color: #D9F1E9;
        }

        &:active {
            color: #AEE900
        }

        &--active {
            color: #AEE900 !important;
        }

        .underline {
            z-index: 1;
            border-radius: 6px;
        }
    }

    .blog-mini-divider,
    .blog-divider {

        height: 1px;
        background-color: #889697;
    }

    .blog-mini-divider {
        width: 5.5px;
    }

    .blog-divider {
        display: flex;
        flex: 1;
    }

    @include down(md) {

        .blog-mini-divider,
        .blog-divider {
            display: none;
        }
    }

}







.blog-subscribe {

    display: flex;
    flex-direction: column;
    max-width: 320px;
    flex: 0 0 1;


    @include down(md) {
        order: -1;

        max-width: initial;



    }

    .header__logo {
        margin: 0;
        margin-bottom: 34px;

        @include down(md) {
            margin-bottom: 16px;
        }
    }


    &__bottom {
        display: flex;
        gap: 8px;

        @include down(md) {

            display: none;

        }

        &__text {
            padding: 0 8px;
        }

        &__icon {
            width: 32px;
        }

        &:hover {
            div {
                border-color: #AEE900;
            }
        }

        &:active {
            div {
                background-color: #AEE900;
                color: black;
            }
        }

        div {
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            border: 1px solid rgba(174, 233, 0, 0.15);
            background: rgba(174, 233, 0, 0.10);
            transition: all .2s ease-out;
            color: #AEE900;
            font-family: var(--font-funnel-display);
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
    }


    &__text {
        font-family: var(--font-funnel-sans);
        color: rgba(136, 150, 151, 0.60);
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 30px;

        @include down(md) {
            margin-bottom: 0;
        }
    }


    &__top {

        display: flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 60px;
        z-index: 0;

        @include down(md) {
            margin-bottom: 8px;
            justify-content: space-between;

        }

        h3 {
            font-family: var(--font-funnel-display);
            color: #D9F1E9;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%;

            @include down(sm) {
                font-size: 36px;
                line-height: normal;
            }
        }

        &__circles {
            display: flex;
            align-items: center;
            padding: 15.5px 8px;
            gap: 16px;
            position: relative;



        }
    }
}


.blog-circle {
    width: 30px;
    height: 30px;
    border-radius: 1000px;
    background-color: #D9F1E9
}

.blog-circle--overlay {
    position: absolute;
    //   top: 50%;
    // left: 0;
    // transform: translateY(-50%);
    background-color: black;
    // ensure it’s above the base circles
    z-index: 10;
}