.blog-subscribe {

    display: flex;
    flex-direction: column;
    max-width: 460px;
    flex: 1;

    .header__logo {
        margin: 0;
        margin-bottom: 34px;
    }


    &__bottom {
        display: flex;
        gap: 8px;

        &__text {
            padding: 0 8px;
        }

        &__icon {
            width: 32px;
        }

        div {
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            border: 1px solid rgba(174, 233, 0, 0.15);
            background: rgba(174, 233, 0, 0.10);

            color: #AEE900;
            font-family: var(--font-funnel-display);
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
    }


    &__text {
        font-family: var(--font-funnel-sans);
        color: rgba(136, 150, 151, 0.60);
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 30px;
    }


    &__top {

        display: flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 60px;

        h3 {
            font-family: var(--font-funnel-display);
            color: #D9F1E9;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%;
        }

        &__circles {
            display: flex;
            align-items: center;

            .blog-circle {
                margin: 15.5px 8px;
                width: 30px;
                height: 30px;
                border-radius: 1000px;
                background-color: #D9F1E9
            }
        }
    }
}