.subscribe-page {
    display: flex;
    width: 600px;
    flex-direction: column;
    margin: 0 20px;
    // height: calc(1vh - 300px);
    // height: 1vh;
    min-height: calc(100vh - 300px);

    @include down(md) {
        min-height: auto;
    }

    .blog-subscribe {
        width: 100%;
        max-width: initial;



    }

    .footer-form {
        margin-top: 0;
    }
}

.blog-subscribe__top h3 {
    z-index: 15;
}