.privacy-page-container {
    margin: 0 104px;
    display: flex;
    max-width: 700px;
}

.privacy-page,
.blog-page-post__portable {


    color: #ABBDB6;

    font-family: var(--font-funnel-sans);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px;



    @include down(sm) {
        margin: 0 30px;
        font-size: 16px;
        line-height: 28px;

    }


    h3 {
        font-family: var(--font-funnel-display);
        color: #D9F1E9;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 38px;
        margin-bottom: 40px;
        margin-top: 80px;

        @include down(sm) {
            font-size: 26px;
            line-height: 32px;
            margin-bottom: 20px;
            margin-top: 40px;
        }


        display: block;
    }

    strong {

        color: #D9F1E9;

        font-weight: 500;
    }

    a {
        color: #AEE900 !important;
        text-decoration: underline;
        font-weight: 500;
    }

    p {
        margin-bottom: 40px;
        display: flow-root;

        @include down(sm) {
            margin-bottom: 20px;

        }
    }

    .vert-divider {
        display: flex;
        width: 2px;
        height: 14px;
        background-color: #ABBDB6;

    }

    .divider {
        margin-bottom: 40px;
        height: 1px;
        background-color: #ABBDB6;
        width: 100%;

        display: flex;
        margin: 10px 0;

    }

    &__content {
        display: flex;
        flex-direction: column;

    }

    &__author {
        padding: 0 10px;
        display: flex;
        max-width: 371px;
        width: 100%;
        height: 58px;
        justify-content: space-between;
        align-items: center;
        color: #ABBDB6;
        font-family: var(--font-funnel-display);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 40px;



        @include down(sm) {
            font-size: 14px;
            margin-bottom: 20px;

        }
    }

    h1 {
        color: #D9F1E9;
        font-family: var(--font-funnel-display);
        font-size: 64px;



        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 40px;

        @include down(sm) {
            font-size: 32px;
            margin-bottom: 20px;
        }

    }
}