.contacts-form {
    display: flex;
    flex-direction:
        column;
    gap: 8px;
    width: 100%;
    max-width: 310px;

    @include down(md) {
        max-width: 100%;
    }

    .form-input {
        display: flex;
        gap: 4px;




        &--error {

            .form-input__icon,
            .form-input__wrapper {
                background: rgba(241, 61, 32, 0.05);
                color: #F13D20;
            }

            span {
                color: #F13D20;
            }
        }


        &:hover {

            .form-input__icon,
            .form-input__wrapper {
                color: #D9F1E9;
                background: rgba(217, 241, 233, 0.15);
            }

            span {
                color: #D9F1E9;
            }
        }

        &:focus-within {

            .form-input__icon,
            .form-input__wrapper {
                background: rgba(174, 233, 0, 0.15);
                color: #AEE900;
            }

            span {
                color: #AEE900;
            }
        }


        &--textarea {
            &.form-input--error {
                background: rgba(241, 61, 32, 0.05);
            }


            &:hover {
                background: rgba(217, 241, 233, 0.15);
            }

            &:focus-within {
                background: rgba(174, 233, 0, 0.15);
                color: #AEE900;

            }

            transition: all .2s ease-out;
            display: flex;
            justify-content: center;
            height: 124px;
            border-radius: 6px;
            background: rgba(136, 150, 151, 0.05);

            .form-input__wrapper {
                height: 100%;
                justify-content: flex-start;
            }

            textarea {
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                resize: none;
                overflow-y: auto;
                overflow-x: hidden;
                box-sizing: border-box;
                background: transparent;
                white-space: normal;
                overflow-wrap: break-word;
                scrollbar-width: none;
                -ms-overflow-style: none;

                &::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                }
            }

            .form-input__icon,
            .form-input__wrapper {
                background: none !important;

            }
        }

        &__wrapper {
            flex: 1;
            padding: 4px 8px;
            flex-direction: column;

            span {
                color: rgba(136, 150, 151, 0.60);
                font-size: 8px;
                font-style: normal;
                font-weight: 400;
                display: flex;
                line-height: normal;
                text-transform: initial;
                font-family: var(--font-funnel-display);
                transition: all .2s ease-out;
            }
        }

        &__icon,
        &__wrapper {
            transition: all .2s ease-out;
            display: flex;
            justify-content: center;
            height: 36px;
            border-radius: 6px;
            background: rgba(136, 150, 151, 0.05);
        }

        &__icon {
            align-items: center;
            width: 36px;
        }

        input {
            display: flex;
            flex: 1;
            color: rgba(217, 241, 233, 0.80);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            /* 128.571% */

        }
    }


    input,
    textarea {
        font-family: var(--font-funnel-display);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        text-transform: initial;

        &::placeholder {
            color: rgba(136, 150, 151, 0.80);
            text-transform: none;
        }

        /* 128.571% */
    }

    &__warning {
        padding: 8px 8px 16px 8px;
        display: flex;
        border-radius: 6px;
        background: rgba(136, 150, 151, 0.05);
        color: #889697;
        transition: all .2s ease-in-out;


        font-family: var(--font-funnel-sans);
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: 14px;
        text-transform: uppercase;

        span {
            min-height: 28px;
        }

        &--success {
            background: rgba(174, 233, 0, 0.15);
            color: #AEE900;
        }

        &--error {
            background: rgba(241, 61, 32, 0.05);
            color: #F13D20;
        }


    }

    &__main {
        border-radius: 12px;
        border: 1px solid rgba(136, 150, 151, 0.20);
        background: rgba(136, 150, 151, 0.05);
        backdrop-filter: blur(75px);
        padding: 12px;

        gap: 8px;
        color: #889697;
        font-family: var(--font-funnel-sans);
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
    }


    &__btn {
        height: 44px;
        display: flex;
        justify-content: space-between;
        border-radius: 12px;
        border: 1px solid rgba(217, 241, 233, 0.40);
        background: rgba(217, 241, 233, 0.10);
        backdrop-filter: blur(75px);
        align-items: center;
        flex: 0 0 1;
        padding: 0 12px;


        color: #D9F1E9;
        font-size: 18px;
        font-style: normal;
        font-weight: 450;
        line-height: 20px;

        transition: all .2s ease-out;

        &--error {
            background: rgba(241, 61, 32, 0.05);
            color: #F13D20;
            border-color: #F13D20;

        }

        &--loading {
            opacity: .7;
        }

        &__icon {
            display: flex;
        }

        &:hover {
            border: 1px solid rgba(217, 241, 233, 0.6);
            background: rgba(217, 241, 233, 0.15);
        }

        &:active {
            border: 1px solid rgba(174, 233, 0, 0.6);
            background: rgba(174, 233, 0, 0.15);
            color: #AEE900;
        }
    }
}



.checkbox-container {
    transition: all .2s ease-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0px 8px;
    height: 36px;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
    border-radius: 6px;
    background: rgba(136, 150, 151, 0.05);
    color: rgba(217, 241, 233, 0.80);
    font-family: var(--font-funnel-display);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;


    text-transform: initial;


    svg {
        transition: all .2s;
    }


    &--error {
        background-color: rgba(241, 61, 32, 0.05);
        color: #F13D20;

        input[type="checkbox"] {
            border-color: #F13D20;

        }
    }

    &:hover {
        color: #D9F1E9;
    }

    &:active {
        color: #AEE900;

    }
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0;
    width: 16.5px;
    height: 16.5px;

    border: 1.5px solid #889697;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;

    transition: all 200ms;

    // &:focus {
    //     outline: 2px solid -webkit-focus-ring-color;
    //     outline-offset: 2px;
    // }

    &:checked {
        background-color: #AEE900;
        border-color: #AEE900;
    }
}

.check-mark {
    transition: all 0.2s;
    opacity: 0;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}

input[type="checkbox"]:checked+.check-mark {
    opacity: 1;
    visibility: visible;
    /* Make it visible when the checkbox is checked */
}

.check {
    display: flex;
    position: relative;
    margin-right: 2px;
    margin-left: auto;
    width: 16.5px;
    height: 16.5px;
}