.token-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;

    &__section {
        display: flex;
        flex-direction: column;
        gap: 10px
    }

    &__coins {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        column-gap: 15px;
    }

    &__main {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 50px;
        overflow-y: scroll;

    }

    &__box {
        display: flex;
        width: 400px;
        height: 500px;
        gap: 30px;
    }

    &__chains {
        display: flex;
        flex-direction: column;
        gap: 10px
    }
}

.modal-chain {
    display: flex;
    gap: 10px;
    align-items: center;



    svg,
    img {
        background-color: white;
        border-radius: 4px;
        color: black;
    }
}

.coin-item {
    display: flex;
    align-items: center;
    gap: 10px;
    height: fit-content;

    img {
        border-radius: 1000px;
    }
}