.history-item-skeleton {
    .history-item__header__swap {
        pointer-events: none;
    }
}



.history-item-warning--error {

    .history-item__cta {
        border: 1px solid rgba(241, 61, 32, 0.40);
        color: rgba(241, 61, 32, 0.80);
        background: rgba(241, 61, 32, 0.10);

        &:hover {
            border: 1px solid rgba(241, 61, 32, 0.60);
            background: rgba(241, 61, 32, 0.15);
            color: rgba(241, 61, 32, 0.80)
        }

        &:active {
            color: rgba(241, 61, 32);
            border-color: rgba(241, 61, 32);
            background: rgba(241, 61, 32, 0.15);
        }
    }

    .history-item__key__header {
        span {
            color: #F13D20;
        }

    }
}


.history-item,
.history-item-warning {
    border-radius: 8px;
    background: rgba(136, 150, 151, 0.05);
    display: flex;
    flex-direction: column;
    padding: 4px;
    gap: 4px;


    &__cta {
        border-radius: 6px;
        border: 1px solid rgba(217, 241, 233, 0.40);
        background: rgba(217, 241, 233, 0.10);
        padding: 0px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        transition: all .2s ease-in-out;
        flex: 0 0 50%;


        &:hover {
            border-color: #D9F1E9;
            color: #D9F1E9;
        }

        &:active {
            background-color: rgba(174, 233, 0, 0.15);

            border-color: rgba(174, 233, 0, 0.80);
            color: rgba(174, 233, 0, 0.80);
        }
    }


    a {


        &:hover {
            span {
                text-decoration: underline;
                color: #D9F1E9
            }
        }
    }

    img {
        border-radius: 100px;
        border: 1px solid #889697;
        background-color: #889697;
    }

    .white {
        color: #D9F1E9;
    }

    &__time {
        display: flex;
        gap: 4px;
        flex: 1;

        &__icon {
            border-radius: 6px;
            background: rgba(136, 150, 151, 0.05);
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }


    &__section {

        display: flex;
        gap: 4px;


        color: #889697;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }

    &__key__header {
        justify-content: center;

        span {
            font-size: 14px;
            font-style: normal;
            color: #D9F1E9;
            font-weight: 600;
        }
    }


    &__key,
    &__value {
        border-radius: 6px;
        background: rgba(136, 150, 151, 0.05);
        gap: 2px;
        display: flex;
        padding: 4px 8px 4px 6px;
        flex: 1;
        align-items: center;
        height: 24px;
    }


    &__text {
        height: 60px;
        justify-content: center;
        text-align: center;
    }

    &__value {
        justify-content: flex-end;
        padding: 4px 8px;
    }




    .transaction-info__header__status,
    &__transaction {
        height: 24px;
        font-size: 16px;

    }

    &__transaction {
        svg {
            width: 24px;
            height: 24px;
        }

        display: flex;
        align-items: center;
        padding: 0px 4px 0px 8px;
        border-radius: 4px;
        background: rgba(217, 241, 233, 0.10);
        color: #D9F1E9;

        font-style: normal;
        font-weight: 400;
        line-height: 16px;

    }

    &__header {
        display: flex;
        flex: 1;
        align-items: center;

        gap: 4px;

        &__swap {
            border-radius: 6px;
            border: 1px solid rgba(174, 233, 0, 0.80);
            background: rgba(174, 233, 0, 0.15);
            width: 36px;
            height: 36px;
            align-items: center;
            justify-content: center;
            color: #AEE900;
            display: flex;
            transition: all .2s ease-in-out;

            &:hover {
                background: #AEE900;
                color: #000;
            }

            svg {
                width: 30px;
                height: 30px;
            }
        }

        &__tx {
            height: 36px;
            border-radius: 6px;
            background: rgba(136, 150, 151, 0.05);
            padding: 6px 4px 6px 8px;
            display: flex;
            flex: 1;
            align-items: center;
        }
    }
}









.history-transactions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: scroll;


    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    scrollbar-width: none;

    -ms-overflow-style: none;
}









.history-sort {

    display: flex;
    align-items: center;
    gap: 4px;


    &__network {
        flex: 1;

        .all-chains-icon {
            scale: .85
        }

        .history-sort__value {
            span {
                max-width: 9ch;

                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                min-width: 0;
            }

        }
    }

    &__network,
    &__address,
    &__title {
        border-radius: 4px;
        background: rgba(136, 150, 151, 0.05);
        display: flex;
        align-items: center;
    }

    &__network,
    &__address {
        border-radius: 6px;
        background: rgba(136, 150, 151, 0.05);
        backdrop-filter: blur(75px);
        padding: 2px;
        gap: 2px;

    }

    &__title {
        flex: 1;
        padding: 6px 8px;
        display: flex;

        span {
            color: #889697;
            font-family: var(--font-handjet);
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: 20px;
        }

    }

    &__icon {
        width: 28px;
        justify-content: center;


        img {
            border-radius: 1000px;

            border-radius: 100px;
            border: 1px solid #889697;
        }
    }

    &__icon,
    &__value {
        display: flex;
        align-items: center;
        height: 28px;
        border-radius: 4px;
        background: rgba(136, 150, 151, 0.05);

    }

    &__value {
        color: #889697;
        font-size: 16px;
        padding: 4px 8px;
        font-style: normal;
        font-weight: 400;
        flex: 1;
        line-height: 20px;
    }

    &__reset {
        border-radius: 6px;
        border: 1px solid rgba(136, 150, 151, 0.10);
        background: rgba(217, 241, 233, 0.05);
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}














.history-modal {
    border-radius: 12px;
    border: 1px solid rgba(136, 150, 151, 0.20);

    width: 329px;
    height: 500px;
    padding: 12px;
    overflow: hidden;
    position: relative;

    .chain-sidebar__contianer {
        height: 100%;
    }

    .address-modal__use {
        color: #889697;
        font-family: Handjet;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding: 0 8px;
    }

    .modal__header__inner {
        span {
            color: #889697;
        }
    }

    .modal-chains__scroll {
        padding-bottom: 28px;
    }


    .address-modal__cta {
        margin-top: auto;
        transition: all .2s ease-in;

        &:hover {
            background: #AEE900;
            color: #000;
        }

    }

    .address-modal__input {
        &:focus-within {
            svg {
                color: #AEE900
            }
        }
    }

    &__input {
        border-radius: 8px;
        background: rgba(136, 150, 151, 0.05);
        display: flex;
        padding: 4px;

        .address-modal__input {
            display: flex;
            width: 100%;
            height: 36px;
            padding: 6px;
            gap: 4px;

            input {

                color: rgba(217, 241, 233, 0.80);

                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }

    .modal-chains {
        max-width: initial;
    }

    &__inner {
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 4px;
        border-radius: 8px;
        background: rgba(136, 150, 151, 0.05);
    }


    .slippage-modal__button {
        border-radius: 6px;
        border: 1px solid rgba(136, 150, 151, 0.10);

        background: rgba(136, 150, 151, 0.05);
    }

    .slippage-modal__button--active {
        color: #AEE900 !important
    }

    .modal__header__inner {
        align-items: center;
        gap: 4px;
        justify-content: flex-start;
        border-radius: 6px;

        .chain-sidebar__input__abandon {
            margin-left: auto;

        }
    }

    .modal-info {
        left: -40px;
        top: 30px;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(136, 150, 151, 0.05);
        backdrop-filter: blur(30px);
        z-index: -1;
    }

    &__wrapper {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}


.history-component {
    max-height: 500px;
    min-height: 500px;
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid rgba(136, 150, 151, 0.20);
    background: rgba(136, 150, 151, 0.05);
    backdrop-filter: blur(30px);

    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
}