.blog-page {
    display: flex;
    gap: 48px;
    width: 100%;
    padding: 0 118px;


    @include down(md) {
        flex-direction: column;
        padding: 0 20px;
        gap: 20px;
    }



    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;

        @include down(sm) {
            gap: 10px;
        }

    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 24px;
        flex: 1;
    }
}


.blog-post {
    // height: 400px;
    position: relative;
    aspect-ratio: 0.75;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    font-family: var(--font-funnel-display);

    // overflow: hidden;
    padding: 30px;
    border-radius: 24px;
    overflow: hidden;
    z-index: 0;


    @include down(sm) {
        border-radius: 12px;
        padding: 14px;
    }

    &__img {

        position: absolute;
        inset: 0px;
        z-index: 0;
        color: rgba(217, 241, 233, 0.3);
        transition: color 0.2s ease-in;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 6%, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.80) 94%);
            z-index: 1;
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(141deg, rgba(0, 0, 0, 0.00) 30%, currentColor 100%);
            opacity: 0;
            transition: all 0.2s ease-in;
        }
    }

    img {
        border-radius: 24px;
        position: relative;

        @include down(sm) {
            border-radius: 12px;
        }
    }



    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        padding: 1px;
        border-radius: inherit;
        transition: opacity .2s ease-in;
        /* animate opacity instead of background */
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
    }

    /* hover gradient */
    &::before {
        opacity: 0;
        background: linear-gradient(110deg,
                rgba(0, 0, 0, 1) 20%,
                rgba(217, 241, 233, .3) 80%,
                rgba(217, 241, 233, 0.8) 100%);
        z-index: 1;
    }

    /* active gradient (green) */
    &::after {
        opacity: 0;
        background: linear-gradient(110deg,
                rgba(0, 0, 0, 1) 20%,
                rgba(174, 233, 0, .3) 80%,
                rgba(174, 233, 0, .8) 100%);
    }

    &:hover {
        .blog-post__bottom h4 {
            color: #D9F1E9;
        }


        .blog-post__img::after {
            opacity: 1;
        }
    }

    &:active,
    &--active {
        .blog-post__bottom h4 {
            color: rgba(174, 233, 0, 0.80);
        }

        .blog-post__img {
            color: rgba(174, 233, 0, 0.3);
        }
    }

    &:hover::before {
        opacity: 1;
    }

    &:active::before,
    &--active::before {
        opacity: 0;
    }

    /* fade out hover */
    &:active::after,
    &--active::after {
        opacity: 1;
    }

    /* fade in active */
    // &::before {
    //     content: "";
    //     position: absolute;
    //     inset: -1px;
    //     border-radius: inherit;
    //     padding: 1px; // thickness of gradient stroke
    //     background: linear-gradient(90deg, #00b0eb, #8e2de2); // your gradient
    //     -webkit-mask:
    //         linear-gradient(#fff 0 0) content-box,
    //         linear-gradient(#fff 0 0);
    //     -webkit-mask-composite: xor;
    //     mask-composite: exclude;
    //     pointer-events: none;
    // }


    &--5 {
        grid-column: span 2;
        //   height: 530px;
        aspect-ratio: 1.8566037736;
        max-width: 100%;
        //    width: 100%;
    }

    &--6,
    &--7 {
        aspect-ratio: 0.9056603774;
    }

    &--8 {
        aspect-ratio: 0.9035812672;
        grid-column: span 2;
        grid-row: span 2;
        max-width: 100%;
    }


    &__link {


        display: flex;
        color: #AEE900;
        gap: 4px;

        @include down(sm) {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }

        &__text,
        &__icon {
            border-radius: 5px;
            border: 1px solid rgba(174, 233, 0, 0.10);
            background: rgba(174, 233, 0, 0.05);
            height: 32px;
            align-items: center;
            display: flex;
        }

        &__text {
            padding: 0px 8px;

            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;


            @include down(sm) {
                display: none;
            }
        }

        &__icon {
            width: 32px;
            justify-content: center;
        }
    }


    &__bottom {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        gap: 10px;
        z-index: 2;

        @include down(sm) {
            gap: 4px;
        }

        h4 {
            color: rgba(217, 241, 233, 0.80);
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            transition: all .2s ease-in;

            @include down(sm) {
                font-size: 16px;
                line-height: normal;
            }
        }

        span {
            color: #ABBDB6;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            font-family: var(--font-funnel-sans);

            @include down(sm) {
                width: calc(100% - 46px);
                font-size: 14px;
                line-height: normal;
            }
        }
    }


    &__category,
    &__author,
    &__created {
        padding: 0 4px;
        border-radius: 2px;
        display: flex;
        align-items: center;
    }


    &__author,
    &__created {
        background: rgba(217, 241, 233, 0.10);
    }


    &__author {
        color: #D9F1E9;

        &__image {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2px;
            background: rgba(136, 150, 151, 0.05);
            width: 20px;
            height: 20px;
            position: absolute;
            z-index: 5;
            display: none;

            @include down(sm) {
                display: flex;
            }

            img {
                border-radius: 1000px;
            }
        }

        @include down(sm) {
            display: none;
        }
    }

    &__created {
        margin-left: auto;
        gap: 3px;

        @include down(sm) {
            margin-left: initial;
            order: -1;
        }

        >span {
            &:nth-child(1) {
                color: #D9F1E9;
            }

            &:nth-child(2) {
                color: rgba(217, 241, 233, 0.70);
            }

            &:nth-child(3) {
                color: rgba(217, 241, 233, 0.50);
            }
        }


    }

    &__category {



        text-transform: uppercase;
    }



    &__top {
        display: flex;
        gap: 4px;

        z-index: 2;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include down(sm) {
            flex-direction: column;
            align-items: flex-end;
        }

    }

    &__top,
    &__bottom {
        z-index: 1;
    }


}