.dashboard-bottom-chart {
    gap: 12px;
    //  height: 720px;
    grid-column: span 2;

    &__chains {

        overflow-x: scroll;

        // height: 38px;
        gap: 4px;
        position: absolute;
        left: 0;
        right: 0;
        display: flex;

        //  flex: 1;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        scrollbar-width: none;

        -ms-overflow-style: none;

        &__wrapper {
            display: none;
            height: 38px;
            position: relative;
            //display: flex;
            //  width: 100%;
            overflow: hidden;
        }
    }

    @include down(md) {
        grid-column: auto;
        // height: 300px;
        order: 8;

        .dashboard-bottom-chart__chains {

            &__wrapper {
                display: flex;
            }

            // width: 100%;

        }

        .dashboard-bottom-chains__list {


            .chain-sidebar {
                flex: none;
                width: 120px;
                font-size: 14px;
            }
        }

        .dashboard-bottom-chart__header {
            display: none;
        }
    }

    &__header {
        display: flex;
        width: 100%;
        gap: 4px;
        color: #889697;
        font-family: var(--font-funnel-display);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include down(md) {
            font-size: 14px;
        }

        &__badge {
            padding: 0 10px;
            display: flex;

            border-radius: 6px;
            border: 1px solid #889697;
            background: rgba(136, 150, 151, 0.05);
            height: 34px;
            align-items: center;


        }

        &__subheader {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0 8px;

            border-radius: 6px;
            background: rgba(136, 150, 151, 0.05);
            height: 34px;
        }
    }

    &__placeholder {

        display: flex;
        flex: 1;
        border-radius: 8px;
        border: 1px solid rgba(136, 150, 151, 0.10);
        background: rgba(136, 150, 151, 0.05);

        @include down(md) {
            grid-column: auto;
            aspect-ratio: 1.3895348837;
            width: 100%;
            height: auto;


        }
    }
}


.dashboard-top-cell {
    gap: 4px;



    &--users {

        @include down(md) {
            order: 1;
        }
    }

    &--volume {
        @include down(md) {
            order: 3;
        }
    }

    &--requests {
        @include down(md) {
            order: 5;
        }
    }

    &__top__header,
    &__top__icon,
    &__bottom__icon,
    &__bottom__subheader {
        border-radius: 6px;
        background: rgba(136, 150, 151, 0.10);
        display: flex;
        align-items: center;
        height: 28px;
        padding: 0 6px;
    }


    &__top,
    &__bottom,
    &__center {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__top {
        &__header {
            color: #889697;
            font-family: var(--font-funnel-display);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            flex: 1;

            @include down(md) {
                font-size: 14px;
            }
        }

        &__icon {
            color: #D9F1E9;
            padding: 0;
            justify-content: center;
            width: 28px;
        }
    }


    &__center {
        color: #D9F1E9;
        text-align: center;
        font-family: var(--font-funnel-display);
        font-size: 38px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @include down(md) {
            font-size: 28px;
        }

        span {
            color: #889697;
        }

        &__mil,
        &__gran,
        &__num {
            display: flex;
            border-radius: 6px;
            background: rgba(136, 150, 151, 0.10);
            height: 48px;
            align-items: center;
            justify-content: center;
            flex: 1;

            @include down(md) {
                height: 35px;
            }
        }

        // &__mil {}

        // &__gran {}

        // &__num {}
    }



    &__bottom {
        //  &__icon {}

        &__subheader {
            justify-content: flex-end;
            color: #889697;
            font-family: var(--font-funnel-sans);
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: uppercase;
            flex: 1;
            gap: 6px;

            span {
                color: #AEE900;
            }
        }
    }
}


.dashboard-mid-cell,
.home-dashboard__animation {
    //  width: 430px;
    height: auto;
    aspect-ratio: 1;
}

.dashboard-mid-cell {
    @include down(md) {
        aspect-ratio: 1.08230452675;
    }
}

.dashboard-mid-cell {


    &--base {
        @include down(md) {
            order: 2;
        }
    }

    &--solana {

        @include down(md) {
            order: 4;
        }
    }

    &__top {
        display: flex;
        //  align-items: center;
        justify-content: space-between;


        color: #889697;
        font-family: var(--font-funnel-display);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

        //  margin-bottom: 10px;
        @include down(md) {
            font-size: 14px;
        }

        svg {
            width: 26px;
            height: 26px;
        }

    }

    p {
        color: #D9F1E9;
        font-family: var(--font-funnel-sans);
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 30px;

        margin-bottom: auto;
        margin-right: 45px;

        //  margin-bottom: 10px;
        @include down(md) {
            font-size: 14px;
            line-height: 24px;
            margin-right: none;
        }
    }

    &__value {
        color: #D9F1E9;
        font-family: var(--font-funnel-display);
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 75%;
        margin-bottom: 8px;

        @include down(md) {
            font-size: 32px;
        }

        span {
            color: #889697;
        }
    }

    &__bot {
        color: #889697;
        font-family: var(--font-funnel-sans);
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        span {
            margin: 4px 0;

            span {
                color: #AEE900
            }
        }
    }


}


.home-dashboard {

    display: flex;
    flex-direction: column;
    //width: 100%;

    // &__animation {

    //     img,
    //     canvas {
    //         width: 100%;
    //         height: auto;
    //     }

    //     padding: 0;

    // }

    &__container {
        display: flex;
        flex: 1;
        padding: 0 140px;

        @include down(md) {
            padding: 0 30px;
            margin-bottom: 36px;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr); // 3 columns
        grid-template-rows: repeat(3, auto); // 3 rows
        gap: 40px;
        padding: 40px;
        width: 100%;
        border: 1px solid #889697;
        position: relative;
        //   margin: 0 100px;
        margin-top: 94px;


        @include down(xl) {
            gap: 20px;
            padding: 20px;
        }

        @include down(md) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            margin-top: 40px;
            // padding: 16px;
        }
    }


    &__animation {
        align-items: center;
        justify-content: center;

        @include down(md) {
            order: 6;
        }
    }

    &__cross {
        display: flex;
        background-color: black;
        width: 80px;
        height: 80px;
        align-items: center;
        justify-content: center;
        display: flex;
        position: absolute;

        @include down(xl) {
            width: 40px;
            height: 40px;
        }

        &--1 {
            top: -0.5px;
            left: -0.5px;
            transform: translate(-50%, -50%);
        }

        &--2 {
            top: -0.5px;
            right: -0.5px;
            transform: translate(50%, -50%);
        }

        &--3 {
            bottom: -0.5px;
            right: -0.5px;
            transform: translate(50%, 50%);
        }

        &--4 {
            bottom: -0.5px;
            left: -0.5px;
            transform: translate(-50%, 50%);
        }
    }
}


.dashboard-top-cell,
.dashboard-mid-cell,
.dashboard-bottom-chains,
.dashboard-bottom-chart,
.home-dashboard__animation {
    border-radius: 12px;
    border: 1px solid rgba(136, 150, 151, 0.20);
    background: rgba(136, 150, 151, 0.05);
    padding: 40px;

    @include down(xl) {
        // gap: 20px;
        padding: 20px;
    }

    @include down(md) {
        padding: 16px;
    }

    display: flex;
    flex-direction: column;
}


.home-dashboard__animation {
    padding: 0;

    canvas {
        width: 100% !important;
        height: auto !important;
    }
}


.dashboard-bottom-chains {
    //  height: 720px;


    // @include down(md) {
    //     display: none;
    // }
    @include down(md) {
        order: 7;
    }

    p {
        color: #D9F1E9;
        font-family: var(--font-funnel-sans);
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 30px;
        margin-top: 24px;
        margin-right: 32px;
        margin-bottom: 50px;

        @include down(md) {
            margin: 0;
            margin-top: 8px;
            font-size: 14px;
            line-height: 24px;
        }
    }


    &__all {
        height: 38px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-funnel-display);
        color: #889697;
        font-size: 12px;
        transition: all .2s ease-out;

        flex: 0 0 100%;

        &:hover {
            color: #D9F1E9;
            text-decoration: underline;
        }
    }


    &__list {


        display: flex;
        gap: 4px;
        flex-wrap: wrap;
        // flex: 0 0 50%;
        overflow-y: scroll;
        max-height: 332px;
        margin-top: auto;

        @include down(md) {
            display: none;
        }

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        scrollbar-width: none;

        -ms-overflow-style: none;

        .chain-sidebar {
            flex: 0 0 calc(50% - 2px);

            span {
                max-width: 8ch;
                /* 10 characters */
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}