.exchange-layout {
    display: flex;
    max-width: 500px;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    @include down(md) {
        max-width: 540px;
        padding: 0 20px;
    }
}